/* CSS */

.DynarchCalendar {
  border: 1px solid #aaa;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-image: url("../../images/quickrfq/gold.jpg");
  /*background: #e8e8e8;*/
  font: 11px "lucida grande",tahoma,verdana,sans-serif;
  line-height: 14px;
  position: relative;
  cursor: default;
}

.DynarchCalendar table {
  
  border-collapse: collapse;
  font: 11px "lucida grande",tahoma,verdana,sans-serif;
  line-height: 14px;
}

.DynarchCalendar-topBar {
  border-bottom: 1px solid #aaa;
  background-image: url("../../images/quickrfq/brushed-steel.jpg");
  /*background: #ddd;*/
  padding: 5px 0 0 0;
}

table.DynarchCalendar-titleCont {
  font-size: 130%; font-weight: bold;
  color: #444;
  text-align: center;
  z-index: 9;
  position: relative;
  margin-top: -6px;
}

.DynarchCalendar-title div {
  padding: 5px 17px;
  text-shadow: 1px 1px 1px #777;
  
}
.DynarchCalendar-hover-title div {
  background-color: #fff;
  border: 1px solid #000;
  padding: 4px 16px;
  /*background-image: url("images/quickrfq/drop-down.gif");*/
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.DynarchCalendar-pressed-title div {
  border: 1px solid #000;
  padding: 4px 16px;
  background-color: #777;
  color: #fff;
  /*background-image: url("images/quickrfq/drop-up.gif");*/
  background-repeat: no-repeat;
  background-position: 100% 50%;
}






.DynarchCalendar-bottomBar {
  /*background-image: url("images/quickrfq/img/coolbg.png");*/
  
  border-top: 1px solid #aaa;
  /*background: #ddd;*/
  padding: 2px;
  position: relative;
  text-align: center;
  background-image: url("../../images/quickrfq/brushed-steel.jpg");
  background-repeat: no-repeat;
  background-position: 50% -80px;
}

.DynarchCalendar-bottomBar-today {
   
  padding: 2px 15px;
}

.DynarchCalendar-hover-bottomBar-today {
  border: 1px solid #000;
  background-color: #fff;
  padding: 1px 14px;
}
.DynarchCalendar-pressed-bottomBar-today {
  border: 1px solid #000;
  background-color: #777;
  color: #fff;
  padding: 1px 14px;
}






.DynarchCalendar-body {
  position: relative;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
}

.DynarchCalendar-first-col { padding-left: 5px; }
.DynarchCalendar-last-col { padding-right: 5px; }

.DynarchCalendar-animBody-backYear {
  position: absolute;
  top: -100%;
  left: 0;
}
.DynarchCalendar-animBody-back {
  position: absolute;
  top: 5px;
  left: -100%;
}
.DynarchCalendar-animBody-fwd {
  position: absolute;
  top: 5px;
  left: 100%;
}
.DynarchCalendar-animBody-now {
  position: absolute;
  top: 5px;
  left: 0;
}
.DynarchCalendar-animBody-fwdYear {
  position: absolute;
  top: 100%;
  left: 0;
}

.DynarchCalendar-dayNames {
  padding-left: 5px;
  padding-right: 5px;
}

.DynarchCalendar-dayNames div { font-weight: bold; color: #444; text-shadow: 1px 1px 1px #777; }

.DynarchCalendar-navBtn {
  position: absolute;
  top: 5px;
  z-index: 10;
}

.DynarchCalendar-navBtn div {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 15px;
  width: 16px;
  padding: 1px;
}
.DynarchCalendar-hover-navBtn div {
  border: 1px solid #000;
  padding: 0;
  background-color: #fff;
}
.DynarchCalendar-navDisabled {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.DynarchCalendar-pressed-navBtn div {
  border: 1px solid #000;
  padding: 0;
  background-color: #777;
  color: #fff;
}

.DynarchCalendar-prevMonth {
  left: 25px;
}

.DynarchCalendar-nextMonth {
  left: 100%;
  margin-left: -43px;
}

.DynarchCalendar-prevYear {
  left: 5px;
}

.DynarchCalendar-nextYear {
  left: 100%;
  margin-left: -23px;
}

.DynarchCalendar-prevMonth div {
  background-image: url("../../images/quickrfq/nav-left.gif");
}

.DynarchCalendar-nextMonth div {
  background-image: url("../../images/quickrfq/nav-right.gif");
}

.DynarchCalendar-prevYear div {
  background-image: url("../../images/quickrfq/nav-left-x2.gif");
}

.DynarchCalendar-nextYear div {
  background-image: url("../../images/quickrfq/nav-right-x2.gif");
}
.DynarchCalendar-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  overflow: hidden;
  opacity: 0.85;
  filter: alpha(opacity=85);
}

.DynarchCalendar-menu table td div {
  text-align: center;
  font-weight: bold;
  padding: 3px 5px;
}
.DynarchCalendar-menu table td div.DynarchCalendar-menu-month {
  width: 4em;
  text-align: center;
}
.DynarchCalendar-menu table td div.DynarchCalendar-hover-navBtn {
  border: 1px solid #000;
  padding: 2px 4px;
  background-color: #fff;
  color: #000;
}
.DynarchCalendar-menu table td div.DynarchCalendar-pressed-navBtn {
  border: 1px solid #000;
  padding: 2px 4px;
  background-color: #777;
  color: #fff !important;
}

.DynarchCalendar-menu-year {
  text-align: center;
  font: 16px "lucida grande",tahoma,verdana,sans-serif;
  font-weight: bold;
}

.DynarchCalendar-menu-sep {
  height: 1px; font-size: 1px; line-height: 1px;
  overflow: hidden;
  border-top: 1px solid #888;
  background: #fff;
  margin-top: 4px; margin-bottom: 3px;
}

.DynarchCalendar-time td { font-weight: bold; font-size: 120%; }
.DynarchCalendar-time-hour, .DynarchCalendar-time-minute { padding: 1px 3px; }
.DynarchCalendar-time-down { background: url("images/quickrfq/time-down.png") no-repeat 50% 50%; width: 11px; height: 8px; opacity: 0.5; }
.DynarchCalendar-time-up { background: url("images/quickrfq/time-up.png") no-repeat 50% 50%; width: 11px; height: 8px; opacity: 0.5; }
.DynarchCalendar-time-sep { padding: 0 2px; }
.DynarchCalendar-hover-time { background-color: #444; color: #fff; opacity: 1; }
.DynarchCalendar-pressed-time { background-color: #000; color: #fff; opacity: 1; }
.DynarchCalendar-time-am { padding: 1px; width: 2.5em; text-align: center; }

/* body */

.DynarchCalendar-hover-week { background-color: #ddd; }

.DynarchCalendar-dayNames div, .DynarchCalendar-day, .DynarchCalendar-weekNumber {
  width: 1.7em;
  padding: 3px 4px;
  text-align: center;
}
.DynarchCalendar-weekNumber {
  border-right: 1px solid #aaa;
  margin-right: 4px;
  width: 2em !important;
  padding-right: 8px !important;
}

.DynarchCalendar-day {
  text-align: right; color: #222;
}
.DynarchCalendar-day-othermonth { color: #888; }
.DynarchCalendar-weekend { color: #c22; }
.DynarchCalendar-day-today { color: #00f; font-weight: bold; }

.DynarchCalendar-day-disabled {
  opacity: 0.5;
  text-shadow: 2px 1px 1px #fff;
}

.DynarchCalendar-hover-date {
  background-image: url("../../images/quickrfq/coolbg.png");
  padding: 2px 3px;
  background-color: #eef;
  border: 1px solid #88c;
  margin: 0 !important;
  color: #000;
}

.DynarchCalendar-day-othermonth.DynarchCalendar-hover-date { border-color: #aaa; /*color: #888;*/
 background-image: url("../../images/quickrfq/coolbg.png"); }

.DynarchCalendar-dayNames .DynarchCalendar-weekend { color: #c22; }
.DynarchCalendar-day-othermonth.DynarchCalendar-weekend { color: #d88; }

.DynarchCalendar-day-selected {
  background-color:#FF9922;
background-image:url("../../images/quickrfq/coolbg.png");
background-position:0 50%;
background-repeat:repeat-x;
color:#000000 !important;
  /*padding: 2px 3px;*/
  /*margin: 1px;*/
  /*background-color: #aaa;*/
  /*color: #000 !important;*/
}
.DynarchCalendar-day-today.DynarchCalendar-day-selected { background-color: #999; }

/* focus */

.DynarchCalendar-focusLink {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}

.DynarchCalendar-focused {
  border-color: #000;
}

.DynarchCalendar-focused .DynarchCalendar-topBar, .DynarchCalendar-focused .DynarchCalendar-bottomBar {
  background-color: #ccc;
  border-color: #336;
}

.DynarchCalendar-focused .DynarchCalendar-hover-week {
  /*background-color: #ccc;*/
   background-image: url("../../images/quickrfq/coolbg.png");
}

.DynarchCalendar-tooltip {
  position: absolute;
  top: 100%;
  width: 100%;
}

.DynarchCalendar-tooltipCont {
  margin: 0 5px 0 5px;
  border: 1px solid #aaa;
  border-top: 0;
  padding: 3px 6px;
  background: #ddd;
}

.DynarchCalendar-focused .DynarchCalendar-tooltipCont {
  background: #ccc;
  border-color: #000;
}

@media print {
  .DynarchCalendar-day-selected {
    padding: 2px 3px;
    border: 1px solid #000;
    margin: 0 !important;
  }
}











/*
=======================================================================
  Clear 
=======================================================================
*/


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;}

a.nofollow{
  text-decoration: none !important;
}
a.nofollow:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nofollow:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

/*form_container*/

.fme_quiik_rfq{ width:1200px; padding:0 10px; margin:0 auto;}

 .fme_quiik_rfq .form_outer{ margin-top:60px;}

 .fme_quiik_rfq .form_container{}

 .fme_quiik_rfq .form_container .outer {
    float: left;
    margin-bottom: 30px;
    margin-right: 18px;
    width: 375px;
}

 .fme_quiik_rfq .form_container .last{ margin-right:0;}
 
  .fme_quiik_rfq .form_container .outer p{ font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#5a5a5a; margin:0 0 5px 2px;}
  
.fme_quiik_rfq .form_container .outer p span{ color:#df280a;}
  
 .fme_quiik_rfq .form_container .outer .input{ border: solid 1px #e6e6e6;font-size:13px; font-family:Arial, Helvetica, sans-serif; font-weight:normal; color:#5a5a5a; padding:17px 0; text-indent:12px; width:100%; background-color:#FFF; height: auto;}
 .fme_quiik_rfq .form_container .outer .input{padding:14px 12px\0/;}

 .fme_quiik_rfq .form_container .outer_textarea{ margin-bottom:30px;}

 .fme_quiik_rfq .form_container .outer_textarea .textarea{ border: solid 1px #e6e6e6; font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:normal; color:#5a5a5a; padding:14px 0; text-indent:12px; width:100%; background-color:#FFF;}

/*budget_status_container*/

 .fme_quiik_rfq .form_container .budget_status{ margin-top:35px; }

 .fme_quiik_rfq .form_container .budget_status .inner ul{ margin:0; padding:0; list-style: none;}

 .fme_quiik_rfq .form_container .budget_status .inner ul li{ float:left; margin-right:45px; color:#5a5a5a; font-family:Arial, Helvetica, sans-serif; font-size: 15px;}

 .fme_quiik_rfq .form_container .budget_status .inner ul .first{ margin-right:50px;}

 .fme_quiik_rfq .form_container .budget_status .inner ul li p{ font-family:Arial, Helvetica, sans-serif; font-size: 14px; color:#868686; margin:0; display:inline-block;}

 .fme_quiik_rfq .form_container .budget_status .inner ul li .radio_button{ float:left; margin:4px 10px 0 0;}

/*upload_document_block*/

 .fme_quiik_rfq .form_container .budget_status .inner .upload_document_block{ margin-top:30px;}

 .fme_quiik_rfq .form_container .budget_status .inner .upload_document_block ul{ margin:0; padding:0; list-style:none;}

 .fme_quiik_rfq .form_container .budget_status .inner .upload_document_block ul li{ margin-right:0px;}

 .fme_quiik_rfq .form_container .budget_status .inner .upload_document_block ul .first { margin-right:70px;}

 .fme_quiik_rfq .form_container .budget_status .inner .upload_document_block ul li .upload_file{ width:314px;}

 .fme_quiik_rfq .form_container .budget_status .inner .upload_document_block ul li .upload_file .search_input{ background-color:#f6f6f5; border: 1px solid #e6e6e6; color: #5a5a5a; font-family: "Open Sans",sans-serif; font-size: 14px; padding:5px 0; text-indent:10px; width:63%; float:left;}

.fme_quiik_rfq .form_container .budget_status .inner .upload_document_block ul li .upload_file .search_button{ color:#5a5a5a; font-family:Arial, Helvetica, sans-serif; font-size: 15px; font-weight:300; background-color:#dddddd; border:none; padding:6px 10px; float:left; cursor:pointer;}

 .fme_quiik_rfq .form_container .budget_status .inner .upload_document_block ul li p{ font-size:13px; margin-top:6px;}

/*captcha_container*/

.fme_quiik_rfq .form_container .budget_status .inner .captcha_container{ float: left; margin-top:30px; margin-right:14px;}

.fme_quiik_rfq .form_container .budget_status .inner .captcha_container .button { float:right; padding:0px; margin:0px;}

.fme_quiik_rfq .form_container .budget_status .inner .captcha_container .button {
 color: #fff;font-size: 16px; font-weight:normal; border:none; padding: 10px 15px 7px 15px; text-transform: uppercase; background-color:#3399cc; cursor:pointer; font-family:Arial, Helvetica, sans-serif;}
 


.fme_quiik_rfq .form_container .budget_status .inner .captcha_container .Submit_input{ float: left;}

 .fme_quiik_rfq .form_container .budget_status .inner .captcha_container .Submit_input .input {   border: 1px solid #e6e6e6; color: #5a5a5a; font-family:Arial, Helvetica, sans-serif; font-size: 15px; padding: 9px 0; width:90px; margin:0px 15px 0 0; text-align:center; text-indent:0;}

.fme_quiik_rfq .form_container .budget_status .inner .captcha_container .captcha { float: left; margin:0px 15px 0 0; width:160px;}

 .fme_quiik_rfq .form_container .budget_status .inner .captcha_container .captcha img{ border: 1px solid #e6e6e6; max-width:100%;}
 
  
div.fme_quiik_rfq div.form_container.clearfix form#quickrfq_form div.date input#calendar-inputField.input{ width: 355px
}
div.fme_quiik_rfq div.form_container.clearfix form#quickrfq_form div.date img{ float: right;}
 
/*responsive*/
 
@media (min-width:200px) and (max-width:490px){
  
.fme_quiik_rfq .form_container .budget_status .inner .captcha_container .button{ float:none; margin-top:10px; width:98%;} 
}
@media (min-width:200px) and (max-width:620px){
.fme_quiik_rfq{ width:93%;} 
.fme_quiik_rfq .form_container .outer { float: left; margin-bottom: 30px; margin-right:0px; width: 96%;}
.fme_quiik_rfq .form_container .outer_textarea .textarea{ width:96%;}
.fme_quiik_rfq .form_container .budget_status .inner ul li{ float:none; margin-top:10px;}
}
@media (min-width:620px) and (max-width:920px){
.fme_quiik_rfq{ width:100%;}  
.fme_quiik_rfq .form_container .outer { float: none; display:inline-block; margin:10px 8px; width:46%;}
.fme_quiik_rfq .form_container .outer_textarea .textarea{ width:96%; margin-top:10px;}
.fme_quiik_rfq .form_container .budget_status .inner ul li{ margin-top:10px;}
}
@media (min-width:920px) and (max-width:1200px){
.fme_quiik_rfq{ width:100%;}  
.fme_quiik_rfq .form_container .outer { float: none; display:inline-block; margin:10px 8px; width:47%;}
.fme_quiik_rfq .form_container .outer_textarea .textarea{ width:97%; margin-top:10px;}
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 