<?php
/***************************************************************************
 Extension Name	: Bestseller Products
 Extension URL	: http://www.magebees.com/magento-bestseller-products-extension.html
 Copyright		: Copyright (c) 2015 MageBees, http://www.magebees.com
 Support Email	: support@magebees.com 
 ***************************************************************************/
?>
<style>
.std .products-grid { margin:0 auto; padding:0; list-style:none; }
.std .products-grid li { margin-left:0; padding:0; list-style:none; }
</style>
<?php
	$result = array();
	$pro = array();
	$bestseller_collection = $this->getBestsellerProduct();
	foreach($bestseller_collection as $collection){
		$pro[] = $collection->getEntityId();
	}
    if($this->getChooseProducts() == "1") {
		$result = $pro;
	}elseif($this->getChooseProducts() == "2") {
	   $result = $this->getProductIds();
	}else{
		if($this->getSortOrder() == 1){
			$result = array_unique(array_merge($pro, $this->getProductIds()));
		}elseif($this->getSortOrder() == 2){
			$result = array_unique(array_merge($this->getProductIds(),$pro));
		}else{
			$result = array_unique(array_merge($pro, $this->getProductIds()));
			shuffle($result);
		}
	}
	$upperLimit = ($this->getLimit()) ? $this->getLimit() : 1; 
	$itemPerRow = ($this->getItemsPerRow()) ? $this->getItemsPerRow() : 1 ;
	$_columnCount = ($this->getItemsPerRow()) ? $this->getItemsPerRow() : 1 ;
	
?>

<?php if($this->getEnabled()): ?>
<?php if($this->getDisplayHeader()): ?>
	<h1 class="block-heading">
		<span><?php if(count($result) > 0) { echo $this->getHeader(); } ?></span>
	</h1>
 <?php endif; ?>
		<div id="sellerSlider" class="products-grid products-grid--max-<?php echo $_columnCount; ?>-col">
	  	<!--<ul class="products-grid products-grid--max-<?php echo $_columnCount; ?>-col">-->
			<?php
			$i=0; $x = 1;
		foreach($result as $result){
			$_product = $this->getProducts($result);
			if(!$_product){
				continue;
			}
			if($x <= $upperLimit) {
			?>
			<div class="seller-slider">
				<div class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
					<a href="<?php echo $this->getBaseUrl().$_product['url_path']; ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="product-image">
							<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(($this->getImageHeight()) ? $this->getImageHeight() : 135,($this->getImageWidth()) ? $this->getImageWidth() : 135); ?>" alt="<?php echo $this->htmlEscape($_product['name']) ?>"/>
					</a>
					<div  class="product-info">
						<h2 class="product-name">
							<a href="<?php echo $this->getBaseUrl().$_product['url_path'] ?>" title="<?php echo $this->htmlEscape($_product['name']) ?>"><?php echo $this->htmlEscape($_product['name']) ?></a>
						</h2>
						<p><?php echo $this->htmlEscape($_product['short_description']) ;?></p>
						
						<h3><?php echo $_product->getData("diameter")."/".$_product->getData("width")." ".$_product->getData("ratio")?></h3>
						
						<div class="icon-box">
							<img src="<?php echo Mage::getBaseUrl().'media/wysiwyg/fuel.png';?>"/>
							<span><?php echo $_product->getData("fuel");?></span>
						</div>
						<div class="icon-box">
							<img src="<?php echo Mage::getBaseUrl().'media/wysiwyg/weather.png';?>"/>
							<span><?php echo $_product->getData("weather");?></span>
						</div>
						<div class="icon-box">
							<img src="<?php echo Mage::getBaseUrl().'media/wysiwyg/volume.png';?>"/>
							<span><?php echo $_product->getData("sound");?></span>
						</div>
						<div class="clearfix"></div>
						<div class="price-main">
							<?php 
								if($this->getReview()) {
									$_product = Mage::getModel('catalog/product')->load($_product->getId());
									echo $this->getReviewsSummaryHtml($_product, 'short'); 
								}
								if($this->getProductsPrice()) {
									$_product = Mage::getModel('catalog/product')->load($_product->getId());
										echo $this->getPriceHtml($_product, true); 
								}
							?>  
			
		<!-- <div class="offer">
			<?php $_savePercent = 100 - round(($_finalPrice / $_price)*100); ?>
			<p><?php //echo $_savePercent; ?>% OFF</p>
		</div>				 -->
							
							<div class="offer">
								<?php 
								$_finalPrice=$_product->getFinalPrice($_product);
								$_price=$_product->getPrice($_product);
								 $_savePercent = 100 - round(($_finalPrice / $_price)*100); 
								?><span><?php echo $_savePercent; ?>%</span> OFF
							</div>
							<div class="clearfix"></div>
						</div>
						<h5>
						
								<?php if($this->getAddToCart()): ?>
								<?php if($_product->isSaleable() && !$_product->canConfigure()): ?>
									<?php echo $this->__('Available') ?>
								<?php elseif($_product->isSaleable()): ?>
									  <?php echo $this->__('Available') ?>
								<?php else: ?>
									<span class="out-of-stock">
										<?php echo $this->__('Call for Availability') ?>
									</span>
								<?php endif; ?>
							<?php endif; ?>
						
						</h5>
						<div class="clearfix"></div>
						<div class="actions" style="display:block !important">	
							<?php if($this->getAddToCart()): ?>
								<?php if($_product->isSaleable() && !$_product->canConfigure()): ?>
									<form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form_<?php echo $_product->getId()?>">
									  <?php if(!$_product->isGrouped()): ?>
									  <!--<label for="qty"><?php echo $this->__('Qty') ?>:</label>-->
									  <input type="text" name="qty" class="input-text qty" maxlength="3" value="<?php echo ($this->getMinimalQty($_product)?$this->getMinimalQty($_product):1) ?>"/>
									  <?php endif; ?>
									  <br />
									  <button type="button" class="button btn-cart margintop-30" onclick="this.form.submit()" title="<?php echo $this->__('Add to Cart') ?>"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
									  </form>
								<?php elseif($_product->isSaleable()): ?>
									 <button class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
										<span><?php echo $this->__('View Details')?></span>
									</button> 
								<?php else: ?>
									<span class="out-of-stock">
										<?php echo $this->__('Out of stock') ?>
									</span>
								<?php endif; ?>
							<?php endif; ?>
							<?php if($this->getActive() || $this->getAddToCompare()):?>
								<ul class="add-to-links">
									<?php if($this->getActive()):?>
										<?php if ($this->helper('wishlist')->isAllow()) : ?>
											<li><a href="<?php echo $this->getAddToWishlistUrl($_product) ?>" class="addWishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
										<?php endif; ?>
									<?php endif; ?>
									<?php if($this->getAddToCompare()): ?>
										<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
											<li><a href="<?php echo $_compareUrl; ?>" class="addCompare"><?php echo $this->__('Add to Compare') ?></a></li>
										<?php endif; ?>
									<?php endif; ?>
								</ul>
							<?php endif; ?>					
						</div>
					</div>	
				<!--</li>-->
				</div>
			</div>
		
		    <?php
			   	}
				$x++;
	        } 
           ?>
        <!--</ul>-->
		</div>
		<script type="text/javascript">decorateGeneric($$('div.products-grid'), ['odd','even','first','last'])</script>
     
	


 <?php endif; ?>
 
 <script type="text/javascript">// <![CDATA[
jQuery.noConflict();
jQuery(document).ready(function ($) {
  $('#sellerSlider').owlSlider({
	loop: true,
	margin: 10,
	responsiveClass: true,
	responsive: {
	  0: {
		items: 1,
		nav: true
	  },
	  600: {
		items: 3,
		nav: false
	  },
	  1000: {
		items: 4,
		nav: true,
		loop: false,
		margin: 20
	  }
	}
  });
});
// ]]></script>
 