<?php
/**
 * PERFICIENT INDIA PVT LTD.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://shop.perficient.com/license-enterprise.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * This package designed for Magento COMMUMITY edition
 * =================================================================
 * Perficient does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUMITY edition.
 * Perficient does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * PHP version 5.x
 *
 * @category  Perficient
 * @package   Perficient_AjaxCart
 * @author    Perficient <mukesh.soni@perficient.com>
 * @copyright 2015 PERFICIENT INDIA PVT LTD
 * @license   Private http://shop.perficient.com/license-enterprise.txt
 * @version   GIT:1.0.2
 * @link      http://www.magentocommerce.com/magento-connect/simple-ajax-cart-by-zeon-solutions.html
 */
?>

<?php
$isCartPage = 0;
$isProductPage = 0;
$hasFileOption = 0;
$isCartConfigurePage = 0;
$isWishlistPage = 0;

if (Mage::app()->getStore()->isCurrentlySecure()) {
    $cartUrl = Mage::getUrl('checkout/cart', array('_secure' => true));
} else {
    $cartUrl = Mage::getUrl('checkout/cart');
}

$moduleName = $this->getRequest()->getModuleName();
$controllerName = $this->getRequest()->getControllerName();
$actionName = $this->getRequest()->getActionName();

if ($moduleName == 'checkout' && $controllerName == 'cart') {
    $isCartPage = 1;
    if ($actionName == 'configure') {
        $isCartConfigurePage = 1;
    }
}

if ($moduleName == 'wishlist' && $controllerName == 'index') {
    $isWishlistPage = 1;
}

if ($_product = Mage::registry('current_product')) {
    $isProductPage = 1;
    foreach ($_product->getOptions() as $option) {
        if ($option->getType() == Mage_Catalog_Model_Product_Option::OPTION_TYPE_FILE) {
            $hasFileOption = 1;
            break;
        }
    }
}
?>
<?php if (!$isProductPage): ?>
    <script type="text/javascript" src="<?php echo $this->getJsUrl('varien/product.js') ?>"></script>
    <script type="text/javascript" src="<?php echo $this->getJsUrl('varien/configurable.js') ?>"></script>
    <script type="text/javascript" src="<?php echo $this->getJsUrl('calendar/calendar.js') ?>"></script>
    <script type="text/javascript" src="<?php echo $this->getJsUrl('calendar/calendar-setup.js') ?>"></script>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl('js/bundle.js') ?>"></script>
<?php endif; ?>
<script type="text/javascript">
    //<![CDATA[
<?php if (Mage::app()->getStore()->isCurrentlySecure()) { ?>
                var BASE_URL = '<?php echo Mage::getUrl('', array('_secure' => true)) ?>';
<?php } else { ?>
                var BASE_URL = '<?php echo Mage::getUrl('') ?>';
<?php } ?>
	
            AJAX_CART = {
                cartURL : '<?php echo $cartUrl ?>',
                isCartPage : <?php echo $isCartPage ?>,
                isWishlistPage : <?php echo $isWishlistPage ?>,
                isProductPage: <?php echo $isProductPage ?>,
                hasFileOption : <?php echo $hasFileOption ?>,
                isAutoHidePopup :<?php echo $this->helper('perficient_ajaxcart')->getIsAutoHidePopup() ?>,
                secureUrlOnFrontend: <?php echo Mage::getStoreConfig('web/secure/use_in_frontend'); ?>,
                disabled: <?php echo $this->helper('perficient_ajaxcart')->getIsEnabled() ?>,
                isCartConfigurePage: <?php echo $isCartConfigurePage ?>
            }
            //]]>
</script>