<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_Checkoutfees
 */
?>
<select name='amcheckoutfees_<?php echo $this->getData("feeId"); ?>'>
    <?php foreach ($this->getData('options') as $option) { ?>
        <option value='<?php echo $option->getFeesDataId(); ?>' <?php echo($option->getChecked() ? " selected='selected' " : "") ?> >
            <?php echo $option->getTitleForStore() ?>
            (
            <?php if ($option->getPriceType()) { ?>
                <?php echo (int)$option->getPrice(); ?>%
            <?php } else { ?>
                <?php echo Mage::helper('core')->currency($option->getFullPrice(), true, false) ?>
            <?php } ?>
            )
        </option>
    <?php } ?>
</select>
