<h2>Apply for: Service Technician</h2>
<h4 style="color:#28397c">Apply with your Linked in account(We will only use your information to submit your application):</h4>
<p><a href="https://in.linkedin.com/">Linkedin</a><p>
<h2>Or</h2>
<h5>Fill out the form</h5>

<form name="" id="" action="" method="post" enctype="multipart/form-data">
    	<div class="fieldset">
        	<ul class="form-list">
            	<li class="fields clearfix">
                	<div class="field">
						
                        <div class="input-box">
                        	<input type="text" name="firstname" id="firstname" placeholder="First Name" size="45" required="required" class="input-text required-entry input-box" value="">
                        </div>
                    </div>
                     
                    
                </li>
				
				<li class="fields clearfix">
				<div class="field">
						
                        <div class="input-box">
                        	<input type="text" name="lastname" placeholder="Last Name" size="45" required="required" class="input-text required-entry" value="">
                        </div>
                    </div>
                </li>
                
                <li class="fields clearfix">
                    <div class="field">
						
    	            	<div class="input-box">
                        	<input type="text" name="email" placeholder="Email" size="45" required="required" class="input-text validate-email required-entry" value="">
                        </div>
                    </div>
                </li>
                
                <li class="fields clearfix">                    
                    <div class="field">
						
                        <div class="input-box">
                        	<input type="text" name="phonenumber" placeholder="Phone Number" size="45" required="required" onkeypress="return isNumberKey(event)" maxlength="15" class="input-text validate required-entry" value="">
                        </div>
                    </div>
                </li>
				
				<li class="fields clearfix">   
				<div class="field">
						
                        <div class="input-box" id="uploadFile_div">
                        	<input type="file" id="file" name="image" placeholder="Upload File" size="45" class="input-text" multiple="">&nbsp;&nbsp;&nbsp;
							<a id="clearfile" onclick="clearFileInputField('uploadFile_div')" href="javascript:void(0);">Clear Uploaded File</a>
						 </div>
                    </div>
				</li>
				
				
                <li class="fields clearfix">
                    <div class="field width_full">
						
                        <div class="input-box">
                            <textarea name="desc" cols="75" rows="2" placeholder="Your Resume" class="input-text"></textarea>
                        </div>
                    </div>
                </li>
				
                
				
               
			</ul>
			<div class="clear"></div>
			<div class="button-set">
				<button id="submit-inquiry" type="submit" name="submit" class="button" value="SUBMIT"><span><span>Submit</span></span></button>
		     </div>
			 <div class="clearfix"></div>
        </div>
    </form>
<?php

  if (isset($_POST['submit'])) {
    $firstname = $_POST['firstname'];
    $lastname = $_POST['lastname'];
    $email = $_POST['email'];
    $phonenumber = $_POST['phonenumber'];
    $content = $_POST['desc'];
	$errors= array();
	  $rootpath= Mage::getBaseUrl().'media/cv/';
	  //echo "rootpath".$rootpath;
      $file_name = $_FILES['image']['name'];
      $file_size =$_FILES['image']['size'];
      $file_tmp =$_FILES['image']['tmp_name'];
      $file_type=$_FILES['image']['type'];
      $file_ext=strtolower(end(explode('.',$_FILES['image']['name'])));
      
      /* $expensions= array("jpeg","jpg","png","csv");
      
      if(in_array($file_ext,$expensions)=== false){
         $errors[]="extension not allowed, please choose a JPEG or PNG file.";
      } */
      
      if($file_size > 2097152){
         $errors[]='File size must be excately 2 MB';
      }
      
      if(empty($errors)==true){
         move_uploaded_file($file_tmp,"media/cv/".$file_name);
         //echo "Success";
		 echo "<br/>".$file_name;
      }else{
         print_r($errors);
      }
	$resource = Mage::getSingleton('core/resource');
	$readConnection = $resource->getConnection('core_read');
	$writeConnection = $resource->getConnection('core_write');
	$tablename = "careers";
	//$queryStoffCollection = 'SELECT * FROM '.$tablename.' WHERE status=1';

	$query = "INSERT INTO ".$tablename." (`firstname`, `lastname`, `email`, `phonenumber`, `filename`, `content`) VALUES ('".$firstname."', '".$lastname."', '".$email."', '".$phonenumber."', '".$rootpath.$file_name."', '".$content."')";

	//echo "query:".$query;

	$resultsCollection = $writeConnection->query($query);
	//echo "sucess";
	
	
    //echo "<br/>".$firstname;
    //echo "<br/>".$lastname;
    //echo "<br/>".$email;
   // echo "<br/>".$phone;

    //echo "<br/>".$content;
  }
?>
<?php
    if(isset($_FILES['image'])){
      $errors= array();
      $file_name = $_FILES['image']['name'];
      $file_size =$_FILES['image']['size'];
      $file_tmp =$_FILES['image']['tmp_name'];
      $file_type=$_FILES['image']['type'];
      $file_ext=strtolower(end(explode('.',$_FILES['image']['name'])));
      
      /* $expensions= array("jpeg","jpg","png","csv");
      
      if(in_array($file_ext,$expensions)=== false){
         $errors[]="extension not allowed, please choose a JPEG or PNG file.";
      } */
      
      if($file_size > 2097152){
         $errors[]='File size must be excately 2 MB';
      }
      
      if(empty($errors)==true){
         move_uploaded_file($file_tmp,"media/".$file_name);
         //echo "Success";
		// echo "<br/>".$file_name;
      }else{
         print_r($errors);
      }
   } 
?>
