#store-locator-container{
	float: left;
	max-height: 325px;
	width:100%;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #333;
}

#page-header{
	float: left;
}

#form-container{
	clear: left;
	float: left; 
	width: 100%;
}

#map-container{
	clear: left;
	float: left; 
	/*height: 530px;*/
	/*max-width: 875px;*/
	width:100%
}

#map-container a{
	color: #e76737;
	text-decoration: none;
}

#map-container a:hover, #map-container a:active{
	text-decoration: underline;
}

#map-container .custom-marker{
	width: 32px;
	height: 37px;
	color: #fff;
	background: url(../images/custom-marker.png) no-repeat;
    padding: 3px;
    cursor: pointer;
}

/* #loc-list{
	float: left; 
	width:27%;
	height: 530px;
	overflow: auto;
}

#loc-list ul{
	display: block;
	clear: left;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

#loc-list .list-label{
	float: left;
	margin: 10px 0 0 6px;
	padding: 2px 3px;
	width: 17px;
	text-align: center;
	background: #451400;
	color: #fff;
	font-weight: bold;
}

#loc-list .list-details{
	float: left;
	margin-left: 6px;
	max-width: 165px;
	width:100%;
}

#loc-list .list-content{
	padding: 10px;
}
#loc-list .store-locator-image{
	padding: 0 10px 10px 10px;
}

#loc-list .loc-dist{
	font-weight: bold;
	font-style: italic;
	color: #8e8e8e;
}

#loc-list li{
	display: block;
	clear: left;
	float: left;
	margin: 6px 10px;
	cursor: pointer;
	max-width: 200px;
	width:100%;
	border: 1px solid #fff;
}

#loc-list .list-focus{
	border: 1px solid rgba(82,168,236,0.9);
	-moz-box-shadow: 0 0 8px rgba(82,168,236,0.7);
	-webkit-box-shadow: 0 0 8px rgba(82,168,236,0.7);
	box-shadow: 0 0 8px rgba(82,168,236,0.7);
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

#map-container .loc-name{
	color: #AD2118;
	font-weight: bold;
} */

#search-form{
	clear: left;
	float: left;
	height: 60px;
}

#form-input label{
	font-weight: bold;
}

#form-input input{
	padding: 4px;
	line-height: 16px;
	border: 1px solid #ccc;
}
  
#loading-map{
	float: left;
	margin: 4px 0 0 10px;
	width: 16px;
	height: 16px;
	background: url(../images/ajax-loader.gif) no-repeat;
}

#map{
	float: left; 
	width: 100%; 
	height: 355px; 
}

/* Infowindow Roboto font override */
.gm-style div, .gm-style span, .gm-style label, .gm-style a{
	font-family: Arial, Helvetica, sans-serif;
}

/* Modal window */

#overlay{
     position: fixed;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 10000;
     background: url(../images/overlay-bg.png) repeat;
}

#modal-window{
	position: absolute;
	left: 50%;
    margin-left: -460px; /* width divided by 2 */
    margin-top: 60px;
    width: 920px;
	height: 590px;
	z-index: 10010;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px #656565;
}

#modal-content{
	float: left;
	padding: 0 22px; /* there's already a margin on the top of the map-container div */
}

#close-icon{
	position: absolute;
	top: -6px;
	right: -6px;
	width: 18px;
	height: 18px;
	cursor: pointer;
	background: #2c2c2c url(../images/close-icon.png) 3px 3px no-repeat;
	border: 1px solid #000;
	border-radius: 3px;
	box-shadow: 0 0 3px #656565;
}


/* The following is for the geocode page and not the store locator */

#geocode-result{
	clear: left;
	float: left;
	margin-top: 30px;
	width: 100%;
}
.bottom-line{
	clear: left;
	float: left;
        border-bottom: 1px solid #CCCCCC;
	margin-top: 5px;
	width: 100%;
}
.detail-label{
	font-weight: bold;
}
/************************************For responsive view*************************/
@media only screen and (max-width:1260px) {
	.main-container, .footer-container{ padding:10px;}
	#loc-list,#map,#store-locator-container{ float:none; width:100%;}
	#user-location #form-input{ margin-left:0px;}
	#map-container{ height:inherit;}
	#store-locator-container #form-input #address{ max-width:365px; width:100%!important; margin:15px 0px;}
}
@media only screen and (min-width: 768px) and (max-width: 1260px) {
	
	
}
@media only screen and (max-width: 767px) {}
@media only screen and (min-width: 480px) and (max-width: 767px) {}
