<?php
/***************************************************************************
 Extension Name	: Dealer Inquiry
 Extension URL	: http://www.magebees.com/magento-dealer-inquiry-extension.html
 Copyright		: Copyright (c) 2015 MageBees, http://www.magebees.com
 Support Email	: support@magebees.com 
 ***************************************************************************/
?>
<?php $code =  trim($this->getRandomCode()); 
$_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat'); ?>
<script>
function clearFileInputField(tagId) {
    document.getElementById(tagId).innerHTML = 
                    document.getElementById(tagId).innerHTML;
}
</script>
<?php if($this->getCaptchaHide()): ?>
<script>
	function refresh(){
		var image = document.getElementById("captcha_image");
		<?php 
		$url = $this->getUrl('inquiry/index/refresh');
		?>
		var urlpage = '<?php echo $url;?>';
		new Ajax.Request(urlpage, {
			method:'get',
			onSuccess: function(transport) {
			var image_name = transport.responseText.evalJSON(true);
			image.src = '<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."inquiry/captcha/";?>'+image_name;
			},
			onFailure: function() { alert('Something went wrong...'); }
	
		});
	}
</script>
<?php endif; ?>
<script>
	function getRegion(){
		var country = jQuery("#country option:selected").val();
		var countrycode = country.split("$$$");
		<?php 
		$url = $this->getUrl('inquiry/index/regionlist');
		?>
		var urlpage = '<?php echo $url;?>';
		new Ajax.Request(urlpage, {
			method:'post',
			showLoader : true,
			parameters: {country:countrycode[0]},
			onSuccess: function(data) {
				jQuery('#state_div').empty();
				jQuery('#state_div').append(data.responseText);
			},
			onFailure: function() { alert('Something went wrong...'); }
	
		});
	}
</script>
<?php $image_name = Mage::helper('inquiry')->createCaptchaImage(); ?>
<?php $filename = Mage::getBaseDir(Mage_Core_Model_Store::URL_TYPE_MEDIA).DS."inquiry".DS."captcha".DS.$image_name;?>
<?php if ( ! is_writable(dirname($filename))) : ?>
	<ul class="messages"><li class="notice-msg"><ul><li><span>Your "/media/inquiry" folder does not have sufficient write permissions.</span></li></ul></li></ul>
<?php endif; ?>
<div id="about-copy" class="inquiryForm">
	<h1><!--<img src="<?php //echo $this->getSkinUrl('images/inquiry/inquiry-icon.png') ?>" alt="" />--><?php if($this->getHeading()): ?><?php echo $this->__($this->getHeading()); ?><?php endif; ?></h1>
	<!--<p><?php //if($this->getDesc()): ?><?php //echo $this->getDesc(); ?><?php //endif; ?></p>-->
    <?php if($this->getIndicates()) { ?>
		<!--<div class="indicates"><span class="required"><em>*</em></span><?php //echo $this->__($this->getIndicates()); ?></div>-->
	<?php } ?>
	
	<form name="dealerInquiry" id="dealerInquiry" action="<?php echo $this->getUrl("inquiry/index/save"); ?>" method="post" enctype="multipart/form-data">
    	<div class="fieldset">
        	<ul class="form-list">
            	<li class="fields clearfix">
                	<div class="field pull-left">
						<?php $fname_label = $this->getFirstName()?$this->getFirstName():"First Name"; ?>
						<label><?php echo $this->__($fname_label); ?><span class="required"><em>*</em></span></label>
                        <div class="input-box">
                        	<input type="text" name="firstname" id="firstname" size="45" class="input-text required-entry input-box" value="<?php echo $this->escapeHtml($this->getFormData()->getFirstname()) ?>"/>
                        </div>
                    </div>
                    <?php if($this->getLastNameHide()): ?> 
                    <div class="field pull-right">
						<?php $lname_label = $this->getLastName()?$this->getLastName():"Last Name"; ?>
                    	<label><?php echo $this->__($lname_label); ?><span class="required"><em>*</em></span></label>
                        <div class="input-box">
                        	<input type="text" name="lastname" size="45" class="input-text required-entry" value="<?php echo $this->escapeHtml($this->getFormData()->getLastname()) ?>"/>
                        </div>
                    </div>
                    <?php endif;  ?>
                </li>
                <li class="fields clearfix">
                	<div class="field pull-left">
						<?php $company_label = $this->getCompanyName()?$this->getCompanyName():"Company Name"; ?>
                    	<label><?php echo $this->__($company_label); ?><span class="required"><em>*</em></span></label>
                        <div class="input-box">
                        	<input type="text" name="company" size="45" class="input-text required-entry" value="<?php echo $this->escapeHtml($this->getFormData()->getCompany()) ?>"/>
                        </div>
                    </div>
				
					<?php if($this->getVatNumberHide()): ?>
                    <div class="field pull-right">
						<?php $tax_label = $this->getVatNumber()?$this->getVatNumber():"Tax/VAT Number"; ?>
                    	<label><?php echo $this->__($tax_label); ?></label>
                        <div class="input-box">
                        	<input type="text" name="taxvat" size="45" class="input-text" value="<?php echo $this->escapeHtml($this->getFormData()->getTaxvat()) ?>"/> 
                        </div>
                    </div>
                    <?php endif; ?>
                </li>
                
                <li class="fields clearfix">
					<?php if($this->getAddressHide()): ?>  
                        <div class="field pull-left">
							<?php $add_label = $this->getAddress()?$this->getAddress():"Address"; ?>
                            <label><?php echo $this->__($add_label); ?><span class="required"><em>*</em></span></label>
                            <div class="input-box">
                                <textarea name="address" cols="42" rows="1" class="input-text required-entry"><?php echo $this->escapeHtml($this->getFormData()->getAddress()) ?></textarea>
                            </div>
                        </div>
                    <?php endif; ?>
                    
                    <?php if($this->getCityHide()): ?>
                    <div class="field pull-right">
						<?php $city_label = $this->getCity()?$this->getCity():"City"; ?>
                    	<label><?php echo $this->__($city_label); ?><span class="required"><em>*</em></span></label>
                        <div class="input-box">
                        	<input type="text" name="city" size="45" class="input-text required-entry" value="<?php echo $this->escapeHtml($this->getFormData()->getCity()) ?>"/> 
                        </div>
                    </div>
                    <?php endif; ?>
                </li>
                <li class="fields clearfix">
					<?php if($this->getCountryHide()): ?>
                     <div class="field pull-left">
						<?php $country_label = $this->getCountry()?$this->getCountry():"Country"; ?>
                     	<label><?php echo $this->__($country_label); ?><span class="required"><em>*</em></span></label>
                        <div class="input-box">
						<?php $country_sess = $this->escapeHtml($this->getFormData()->getCountry()) ?>
							<div class="theme-select">
								<select name="country" id="country" class="drop required-entry" onchange="getRegion(this)" >
									<option value=''>--Please Select--</option>
									<?php
										$collection = Mage::getModel('directory/country')->getCollection();
										foreach ($collection as $country){
											$cid = $country->getId();
											$cname = $country->getName(); 
											$country = $cid.'$$$'.$cname;
											
										?>
											<option value="<?php echo $cid.'$$$'.$cname; ?>"<?php 
											if($country==$country_sess){ 
											echo "SELECTED";
											} ?> ><?php echo $cname; ?></option>
										<?php 
										} 
									?>
								</select>
							</div>
                        </div>
                     </div>
                     <?php endif; ?> 
					<?php if($this->getStateHide()): ?>
						<div class="field pull-right">
							<?php $state_label = $this->getState()?$this->getState():"State / Province"; ?>
							<label><?php echo $this->__($state_label); ?><span class="required"><em>*</em></span></label>
							<div id="state_div" class="input-box">
							<?php $statesess = $this->escapeHtml($this->getFormData()->getState()) ?>
							<?php if($statesess): ?>
							<?php $statearray = $this->getStateFromCountry($country_sess); ?>
								<?php 
									if(!empty($statearray)){
										?>
										<select id='state' name='state' class='drop required-entry'><option value=''>--Please Select--</option>";
										<?php
										foreach ($statearray as $_state) {
											if($_state['region_id']){
												?>
												<option value="<?php echo $_state['region_id']; ?>" <?php if($statesess==$_state['region_id']){echo "selected";}?>><?php echo $_state['name']; ?></option>
												<?php
											}
										}
										?>
										</select>
										<?php
									}else{ ?>
										<input type="text" name="state" size="45" class="input-text required-entry" value="<?php echo $this->escapeHtml($this->getFormData()->getState()) ?>"/>
									<?php
									}
								?>
							<?php else: ?>
								<input type="text" name="state" size="45" class="input-text required-entry" value="<?php echo $this->escapeHtml($this->getFormData()->getState()) ?>"/>
							<?php endif; ?>
							</div>
						</div>
                     <?php endif; ?>
                </li>
                <li class="fields clearfix">
                     <?php if($this->getPostalCodeHide()): ?>
                  	 <div class="field pull-left">
						 <?php $zip_label = $this->getPostalCode()?$this->getPostalCode():"ZIP / Postal Code"; ?>
                    	<label><?php echo $this->__($zip_label); ?><span class="required"><em>*</em></span></label>
                        <div class="input-box">
                 			<input type="text" name="zip" id="zip" size="45" maxlength="10" class="required-entry input-text validation-passed" value="<?php echo $this->escapeHtml($this->getFormData()->getZip()) ?>"/>
                        </div>
                     </div>
                    <?php endif; ?>
                    
                    <div class="field pull-right">
						<?php $contact_label = $this->getContactNumber()?$this->getContactNumber():"Contact Number"; ?>
                    	<label><?php echo $this->__($contact_label); ?><span class="required"><em>*</em></span></label>
                        <div class="input-box">
                        	<input type="text" name="phone" size="45" onKeyPress="return isNumberKey(event)" maxlength="15" class="input-text validate required-entry" value="<?php echo $this->escapeHtml($this->getFormData()->getPhone()) ?>"/>
                        </div>
                    </div>
                </li>
				<li class="fields clearfix">
                    <div class="field pull-left">
						<?php $email_label = $this->getEmail()?$this->getEmail():"Email"; ?>
	                	<label><?php echo $this->__($email_label); ?><span class="required"><em>*</em></span></label>
    	            	<div class="input-box">
                        	<input type="text" name="email" size="45" class="input-text validate-email required-entry" value="<?php echo $this->escapeHtml($this->getFormData()->getEmail()) ?>"/>
                        </div>
                    </div>
                    <?php if($this->getWebsiteHide()): ?>
                    <div class="field pull-right">
						<?php $website_label = $this->getWebsite()?$this->getWebsite():"Website"; ?>
                    	<label><?php echo $this->__($website_label); ?></label>
                        <div class="input-box">
                        	<input type="text" name="website" size="45" class="input-text" value="<?php echo $this->escapeHtml($this->getFormData()->getWebsite()) ?>"/> 
                        </div>
                    </div>
                    <?php endif; ?>
                </li>
                <li class="fields clearfix">
                    <div class="field width_full">
						<?php $desc_label = $this->getDescription()?$this->getDescription():"Business Description"; ?>
                        <label><?php echo $this->__($desc_label); ?></label>
                        <div class="input-box">
                            <textarea name="desc" cols="75" rows="2" class="input-text"><?php echo $this->escapeHtml($this->getFormData()->getDesc()) ?></textarea>
                        </div>
                    </div>
                    <?php if($this->getDateTimeHide()): ?>
                    <div class="field pull-right">
						<?php $datetime_label = $this->getDateTime()?$this->getDateTime():"Date Time"; ?>
                    	<label><?php echo $this->__($datetime_label); ?></label>
                        <div class="input-box">
                        	<input type="text" name="date_time" id="date_time" size="45" class="input-text validate-date" placeholder="mm/dd/yyyy HH:MM:SS" value="<?php echo $this->escapeHtml($this->getFormData()->getDateTime()) ?>"/>  <img title="Select date" id="date-picker-cal" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . 'adminhtml/default/default/images/grid-cal.gif'; ?>">
                        </div>
                    </div>
					<script type="text/javascript">// <![CDATA[
						Calendar.setup({
							inputField : 'date_time',
							ifFormat : '%m/%d/%Y %H:%M:%S',
							button : 'date-picker-cal',
							align : 'Br',
							singleClick : true ,
							showsTime : true
						});
					// ]]></script>
					<?php endif; ?>
                </li>
				<li class="fields clearfix">
					<?php if($this->getUploadFileHide()): ?>
					<div class="field pull-left">
						<?php $upload_label = $this->getUploadFile()?$this->getUploadFile():"Upload File"; ?>
                    	<label><?php echo $this->__($upload_label); ?></label>
                        <div class="input-box"  id="uploadFile_div">
                        	<input type="file" id="file" name="file[]" size="45" class="input-text" multiple/>&nbsp;&nbsp;&nbsp;
							<a id="clearfile" onclick="clearFileInputField('uploadFile_div')" 
                         href="javascript:void(0);"><?php echo $this->__("Clear Uploaded File");?></a>
						 </div>
                    </div>
					<?php endif; ?>
                    
                    <?php if($this->getFieldOneHide()): ?>
                    <div class="field pull-right">
						<?php $field_one_label = $this->getExtraFieldOne()?$this->getExtraFieldOne():"Extra Field 1"; ?>
                    	<label><?php echo $this->__($field_one_label); ?></label>
                        <div class="input-box">
                        	<input type="text" name="extra_field_one" size="45" class="input-text" value="<?php echo $this->escapeHtml($this->getFormData()->getExtraFieldOne()) ?>"/> 
                        </div>
                    </div>
                    <?php endif; ?>
				</li>
                
				<li class="fields clearfix">
					<?php if($this->getFieldTwoHide()): ?>
                    <div class="field pull-left">
						<?php $field_two_label = $this->getExtraFieldTwo()?$this->getExtraFieldTwo():"Extra Field 2"; ?>
                    	<label><?php echo $this->__($field_two_label); ?></label>
                        <div class="input-box">
                        	<input type="text" name="extra_field_two" size="45" class="input-text" value="<?php echo $this->escapeHtml($this->getFormData()->getExtraFieldTwo()) ?>"/> 
                        </div>
                    </div>
                    <?php endif; ?>
					<?php if($this->getFieldThreeHide()): ?>
                    <div class="field pull-right">
						<?php $field_three_label = $this->getExtraFieldThree()?$this->getExtraFieldThree():"Extra Field 3"; ?>
                    	<label><?php echo $this->__($field_three_label); ?></label>
                        <div class="input-box">
                        	<input type="text" name="extra_field_three" size="45" class="input-text" value="<?php echo $this->escapeHtml($this->getFormData()->getExtraFieldThree()) ?>"/> 
                        </div>
                    </div>
                    <?php endif; ?>
				</li>
                <li class="fields last clearfix">
					<?php if($this->getCaptchaHide()): ?>
					<?php //echo $this->getChildHtml('captcha') ?>
					<?php $captcha_label = $this->getCaptcha()?$this->getCaptcha():"Please type the letters below"; ?>
						<div class="captcha">
							<label><?php echo $this->__($captcha_label)?><span class="required"><em>*</em></span></label>
							<div class="clear"></div>
							<div class="captcha-main">
								<div id="captcha" class="captcha-left">
									
									<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."inquiry/captcha/".$image_name ;?>" id="captcha_image"/>
								</div> 
							</div> 
							<div id="img_refresh"><img src="<?php echo $this->getSkinUrl('images/inquiry/refresh.png') ?>" onclick="refresh()"></div>
							<div class="clear"></div>
							<input type="text" name="captcha" id="capt" size="24" value="" placeholder="Enter captcha here..." class="input-text required-entry" />
						</div>
					<?php endif; ?>
            	</li>
			</ul>
			<div class="clear"></div>
			<div class="button-set">
				<?php $button_label = $this->getBtnText()?$this->getBtnText():"Submit"; ?>
				<button id="submit-inquiry"  type="submit" name="SUBMIT"  class="button" value="SUBMIT"><span><span><?php echo $this->__($button_label); ?></span></span></button>
		     </div>
			 <div class="clearfix"></div>
        </div>
    </form>
    <div class="clearfix"></div>
</div>

<script type="text/javascript">
//< ![CDATA[
var customForm = new VarienForm('dealerInquiry');
//]]>
	function isNumberKey(evt){
		var charCode = (evt.which) ? evt.which : evt.keyCode
		if (charCode > 31 && (charCode < 48 || charCode > 57)) {
		 	return false;
		}		
		return true;
	} 
</script>