<div id="forcarsizeresultdiv" class="forcarsizeresultdiv">
<?php
$make = $_GET['make'];
$year = $_GET['year'];
$model = $_GET['model'];
$variant = $_GET['variant'];

$cmake = str_replace(' ', '-',$make);
$cmodel = str_replace(' ', '-',$model);
$cvariant = str_replace(' ', '-',$variant);

$connection = Mage::getSingleton('core/resource')->getConnection('core_read');
$sql = "SELECT * from tireresult WHERE make='".$make."' AND caryear='".$year."' AND carmodel='".$model."' AND variant='".$variant."'";
$rows= $connection->fetchAll($sql); 
$rowCount = count($rows);

if($rowCount>0)
{
	$tirewidth = $rows[0]['width'];
	$tireprofile = $rows[0]['profile'];
	$tirerimsize = $rows[0]['rimsize'];
	echo '<div id="tirewidth">'.$tirewidth.'</div>';
	echo '<div id="tireprofile">'.$tireprofile.'</div>';
	echo '<div id="tirerimsize">'.$tirerimsize.'</div>';

}
else
{
	
  $url = "https://tiresize.com/tires/".$cmake."/".$cmodel."/".$year."/".$cvariant."/";
  $cl = curl_init($url);
  curl_setopt($cl,CURLOPT_RETURNTRANSFER,true); 
  curl_setopt($cl, CURLOPT_HEADER, 0);
  $str = curl_exec($cl);
  curl_close($cl);
 
	preg_match('~<div id="YourSizes">(.*?)<div id="UpSizing">~is', $str, $matchDiv);
	$posMatch = $matchDiv[1];	
	
	$posStr = str_replace('<div class="sizedesc">Tire Size(s)</div>', ' ', $posMatch);
	preg_match('~<div><a onclick="viewerCalc(.*?)<\/a><\/div>~is', $posStr, $possize);
	
	
	$posa = $possize[1];
	$posa = strtok($posa, '=');
	$posa = substr($posa, (strpos($posa, '>') ?: -1) + 1);
	$str = str_replace(' ', '', $posa);
	$afterstr = substr($str, (strpos($str, '/') ?: -1) + 1);
	
	$twidth = strtok($str, '/');
	$tprofile = strtok($afterstr, 'R');
	$trimsize = substr($afterstr, (strpos($afterstr, 'R') ?: -1) + 1);

	$write = Mage::getSingleton("core/resource")->getConnection("core_write");
	$sql = "INSERT INTO tireresult (make,caryear,carmodel,variant,tiresize,width,profile,rimsize) VALUES('".$make."','".$year."','".$model."','".$variant."','".$str."','".$twidth."','".$tprofile."','".$trimsize."')";
	$write->query($sql);
	
	echo '<div id="tirewidth">'.$twidth.'</div>';
	echo '<div id="tireprofile">'.$tprofile.'</div>';
	echo '<div id="tirerimsize">'.$trimsize.'</div>';
    

}

?>
</div>