<?php 
 if($_GET['prod_name']=="Tyre Rotation") 
 {?>
 <script>jQuery(document).ready(function () {jQuery("#items li").eq(1).addClass("selected");});</script>
 <?php }elseif($_GET['prod_name']=="Wheel Alignment"){?>
 <script>jQuery(document).ready(function () {jQuery("#items li").eq(2).addClass("selected");});</script>
 <?php }elseif($_GET['prod_name']=="Puncture Repair"){?>
 <script>jQuery(document).ready(function () {jQuery("#items li").eq(3).addClass("selected");});</script>
 <?php }elseif($_GET['prod_name']=="Air Conditioning"){?>
 <script>jQuery(document).ready(function () {jQuery("#items li").eq(4).addClass("selected");});</script>
 <?php }elseif($_GET['prod_name']=="Oil Service Information"){?>
 <script>jQuery(document).ready(function () {jQuery("#items li").eq(5).addClass("selected");});</script>
 <?php }elseif($_GET['prod_name']=="Battery Information"){?>
 <script>jQuery(document).ready(function () {jQuery("#items li").eq(6).addClass("selected");});</script>
 <?php }elseif($_GET['prod_name']=="Engine Diagnostics"){?>
 <script>jQuery(document).ready(function () {jQuery("#items li").eq(7).addClass("selected");});</script>
 <?php }elseif($_GET['prod_name']=="Suspension and Shock Absorbers"){?>
 <script>jQuery(document).ready(function () {jQuery("#items li").eq(8).addClass("selected");});</script> 
 <?php }elseif($_GET['prod_name']=="Brakes Information"){?>
 <script>jQuery(document).ready(function () {jQuery("#items li").eq(9).addClass("selected");});</script>
 <?php }?>
 
<?php
/**
 * Quickrfq extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   FME
 * @package    FME_Quickrfq
 * @author     Malik Tahir Mehmood<malik.tahir786@gmail.com>
 * @copyright  Copyright 2010 © free-magentoextensions.com All right reserved
 */

 ?>

<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="row heading-2 text-center padding-top-80 main-calender-block">
	<h5 class="text-uppercase"><?php echo Mage::helper('quickrfq')->__('Appointment Calendar') ?></h5>
</div> 
<form  action="<?php echo $this->getPostActionUrl(); ?>" method="post" enctype="multipart/form-data" id="quickrfq_form" name="quickrfq_form">
<div class="row text-center cust-app-cal">  
	<a class="btn btn-default btn-select design-option-list cust-app-cal-link">
		<input type="hidden" class="btn-select-input required-entry" id="" name="servicerequested" value="" />
		<span class="btn-select-value">Select an Item</span>
		<span class='btn-select-arrow'></span>
		<ul id="items">
			<li>Choose Your Service</li>
		<?php 
			$wService = Mage::getSingleton('core/resource')->getConnection('core_write');
			$resultService = $wService->query('select serviceslist from storelocator where status=1');
			$rowService = $resultService->fetchAll();
			$serviceListData = $rowService[0]['serviceslist'];
			$serviceListData = explode(',', $serviceListData);
			foreach($serviceListData as $serviceListDataValue){ 
		?>
			<li><?php echo $serviceListDataValue ?></li> 
		
		<?php } ?>		
		</ul>
	</a> 
</div>
<div class="row">
	<div class="form-group cust-app-cal-form"> 
		<div class="col-md-4"><input class="form-control design-input-text-field required-entry" name="contact_name" id="name" placeholder="<?php echo Mage::helper('quickrfq')->__('Name') ?>" /> </div>
		<div class="col-md-4"><input class="form-control design-input-text-field required-entry" name="phone" id="telephone" placeholder="<?php echo Mage::helper('quickrfq')->__('Phone Number') ?>" /> </div>
		<div class="col-md-4"><input class="form-control design-input-text-field required-entry validate-email" name="email" id="email" placeholder="<?php echo Mage::helper('quickrfq')->__('Email') ?>" value="<?php echo $this->htmlEscape($this->helper('quickrfq')->getUserEmail()) ?>" /></div>
	</div>
</div>

<?php 
$wData = Mage::getSingleton('core/resource')->getConnection('core_write');
$resultData = $wData->query('select * from storelocator where status=1');
$rowData = $resultData->fetchAll();
//echo "<pre>"; print_r($rowData);
$count = 1;
foreach($rowData as $rowDataValue){ 
	//echo "<pre>"; print_r($rowDataValue);
	$serviceCenterName = $rowDataValue['name'];
	$serviceCenterNameId = trim(strtolower( htmlentities($serviceCenterName)));
	$serviceCenterAddress = $rowDataValue['address'];
	$serviceCenterPhone = $rowDataValue['phone'];
	$serviceCenterOpeningHours = $rowDataValue['hours1'];
	$serviceCenterClosingHours = $rowDataValue['hours2'];
	$serviceCenterStoreId = $rowDataValue['storelocator_id'];
	if ($count%2 == 1)
    {  
         echo '<div class="row design-store-grid padding-top-80">';
    }
?>
	<div class="col-md-6"> 
		<div class="panel panel-default design-store-grid-item calender-section">
		  <div class="panel-body "> 
			<div class="design-store-grid-item-row margin-bottom-15 heading-2 calender-head">
				<h5 class="text-capitalize"><?php echo $serviceCenterName ?></h5>
				<!--<p class="design-store-grid-item-ratings"> 
					<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star inactive"></span><span class="padding-left-15 theme-blue-color">(15)</span>
				</p>-->
			</div>
			<div class="design-store-grid-item-row cust-appoint-calender">
				<div class="col-md-6">
					<div class="row">
						<label class="design-store-grid-item-label">Address</label>
						<p class="design-store-grid-item-value"><?php echo $serviceCenterAddress; ?></p>
					</div> 
					<div class="row padding-top-25">
						<label class="design-store-grid-item-label">Opening Hours</label>
						<p class="design-store-grid-item-value"><?php echo $serviceCenterOpeningHours.' - '.$serviceCenterClosingHours; ?></p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<label class="design-store-grid-item-label">Phone Number</label>
						<p class="design-store-grid-item-value"><span class="glyphicon glyphicon glyphicon-earphone padding-right-10"></span><?php echo $serviceCenterPhone; ?></p>
					</div> 
					<div class="row">
						<a href="<?php echo Mage::getBaseUrl()."storelocator/index/detail/id/". $serviceCenterStoreId;?> " target="_blank" class="design-store-grid-item-link text-uppercase"><i class="fa fa-map-marker theme-blue-color padding-right-10" aria-hidden="true"></i>Show on map</a>
					</div>
				</div>
			</div> 
			<div class="design-store-grid-item-row fixed-width padding-horizontal-20 calender-tbl-block">   
				<table class="table table-responsive cal-table">
					<thead>
						<tr>
							<th colspan="7">
								Book Appointment
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>							
							<?php 
									for($i=1;$i<=6;$i++){
									$nextDate = date('Y-m-d', strtotime(" +".$i. "day")); 
									$nextDate = (string)$nextDate;
									$timestamp = strtotime($nextDate);
									$nextDay = date("D", $timestamp);			
									$nextDate = date('d/m', strtotime($nextDate)); 										
							?>
							<td><span class="app-day"><?php echo $nextDay?></span> </br> <span class="app-date"><?php echo $nextDate?></span>
							</td>
							<?php } ?>	
						
						</tr>
						<tr>
							<td>AM</td>
							<?php //for($i=1;$i<=6;$i++){?>			
							<?php 
									for($i=1;$i<=6;$i++){
									$nextDate = date('Y-m-d', strtotime(" +".$i. "day")); 
									$nextDate = (string)$nextDate;
									$timestamp = strtotime($nextDate);
									$nextDay = date("D", $timestamp);			
									$nextDayRadio = date("l",$timestamp);
									$nextDate = date('d/m', strtotime($nextDate)); 										
							?>							
							<td class="design-input-radio-btn"> 
								<input type="radio" name="servicedatetime"  id="<?php echo "radio".$serviceCenterStoreId."-".$serviceCenterNameId?>" value="<?php echo $nextDate." ".$nextDayRadio." AM - ".$serviceCenterName ?>">
								<div class="check"><div class="inside"></div></div>
							</td>
							<?php } ?>									
						</tr>
						<tr>
							<td>PM</td>
							<?php //for($i=1;$i<=6;$i++){?>		
							<?php 
									for($i=1;$i<=6;$i++){
									$nextDate = date('Y-m-d', strtotime(" +".$i. "day")); 
									$nextDate = (string)$nextDate;
									$timestamp = strtotime($nextDate);
									$nextDay = date("D", $timestamp);		
									$nextDayRadio = date("l",$timestamp);									
									$nextDate = date('d/m', strtotime($nextDate)); 										
							?>							
							<td class="design-input-radio-btn"> 
								<input type="radio" name="servicedatetime" id="<?php echo  "radio".$serviceCenterStoreId."-".$serviceCenterNameId?>" value="<?php echo $nextDate." ".$nextDayRadio." PM - ".$serviceCenterName?>"> 
								<div class="check"><div class="inside"></div></div>
							</td>
							<?php } ?>		
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="7" class="design-input-action"><div class="pull-right"><span class="design-availability-indicator text-uppercase padding-right-10">Available</span><!--<a class="design-action-btn margin-right-4"><i class="fa fa-arrow-left theme-white-color padding-right-4" aria-hidden="true"></i></a><a class="design-action-btn"><i class="fa fa-arrow-right theme-white-color" aria-hidden="true"></i></a>--></div></td>
						</tr>
					</tfoot>
				</table>
			</div>
				<div id="radioSelectWarn<?php echo $serviceCenterStoreId."-".$serviceCenterNameId?>" style="display:none;color:red;">
						Please select your appointment time.
				</div>
			<div class="row design-store-grid padding-vertical-35 text-center">
				<input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
				<button type="button" onclick="javascript:checkBooking(this.id)" id="<?php echo $serviceCenterStoreId."-".$serviceCenterNameId?>" title="<?php echo Mage::helper('quickrfq')->__('Book Appointment') ?>" class="btn btn-lg design-input-button"><span><span><?php echo Mage::helper('quickrfq')->__('Book Appointment') ?></span></span></button>
			</div>
		  </div>
		</div>
	</div> 
	<?php 
	if ($count%2 == 0)
    {
        echo "</div>";
    }
    $count++;	?>
	
<?php	}
	if ($count%2 != 1) echo "</div>";
	?> 
</form>

<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('our-offers')->toHtml(); ?>

<script type="text/javascript">

function checkBooking(clickedId){
	//alert("Hello");
	var idSentByButton = 'radio'+clickedId;

		 if(jQuery('input[name=servicedatetime]:checked', '#quickrfq_form') ){		
			var CheckRadioId = jQuery('input[name=servicedatetime]:checked', '#quickrfq_form').attr("id");
			if(CheckRadioId == idSentByButton){
				//alert(true);
			document.getElementById("radioSelectWarn"+clickedId).style.display="none";	
			document.getElementById('quickrfq_form').submit();
			}else{
				//alert(false);
				document.getElementById("radioSelectWarn"+clickedId).style.display="block";
			}
		 }else{
			 alert("Please select the correct time");
		 }
	
}


</script>	
	    
		
 <script>//<![CDATA[
Calendar.setup({ 
	trigger: "calendar-trigger", 
	inputField: "calendar-inputField"
	 });
//]]></script>

<script type="text/javascript">
//<![CDATA[
	var contactForm = new VarienForm('quickrfq_form', true);
//]]>
jQuery(document).ready(function () {
	jQuery(".btn-select").each(function (e) {
		var value = jQuery(this).find("ul li.selected").html();
		if (value != undefined) {
			jQuery(this).find(".btn-select-input").val(value);
			jQuery(this).find(".btn-select-value").html(value);
		}
	});
});

jQuery(document).on('click', '.btn-select', function (e) {
	e.preventDefault();
	var ul = jQuery(this).find("ul");
	if (jQuery(this).hasClass("active")) {
		if (ul.find("li").is(e.target)) {
			var target = jQuery(e.target);
			target.addClass("selected").siblings().removeClass("selected");
			var value = target.html();
			jQuery(this).find(".btn-select-input").val(value);
			jQuery(this).find(".btn-select-value").html(value);
		}
		ul.hide();
		jQuery(this).removeClass("active");
	}
	else {
		jQuery('.btn-select').not(this).each(function () {
			jQuery(this).removeClass("active").find("ul").hide();
		});
		ul.slideDown(300);
		jQuery(this).addClass("active");
	}
});

jQuery(document).on('click', function (e) {
	var target = jQuery(e.target).closest(".btn-select");
	if (!target.length) {
		jQuery(".btn-select").removeClass("active").find("ul").hide();
	}
});
jQuery('.design-input-radio-btn').on('click', function (e) {
	var target = jQuery(this); 
	//console.log(target);
	target.children('input[type=radio]').prop('checked', true);
});
</script>
