<?php echo $this->getJsandCss(); ?> 
<script type="text/javascript">jQuery.noConflict();</script>
<?php
$storeid = Mage::app()->getStore()->getId();
$lng = Mage::getStoreConfig('storelocator/settings/defaultlon', $storeid);
$lat = Mage::getStoreConfig('storelocator/settings/defaultlat',$storeid);
$apikey = Mage::getStoreConfig('storelocator/settings/apikey',$storeid);
?>
</div>
<div class="container-fluid design-cms-lsc">
<div class="row">
<div class="design-single-column-header"><img class="img-responsive" alt="" src="<?php echo $this->getBaseUrl() . 'media/wysiwyg/banner/banner7.png'; ?>"}}" />
<h2 class="design-single-header text-uppercase" style="color: #28397c !important;">Locate Service Centre</h2>
</div>
</div>
<div class="container design-cms-page design-cms-block">
<h4 class="design-scroll">Scroll below for stores&nbsp;&nbsp;<span class="glyphicon glyphicon-circle-arrow-down"></span></h4>
<div class="row">
<div class="why-us" style="display:none;">
<h1 class="block-heading"><span>WHY US</span></h1>
<div class="col-md-3 col-xs-12 col-sm-3">
<div class="why-us-inner">
<div class="imgbox"><img alt="" src="{{media url="wysiwyg/why-01.png"}}" />
<div class="why-us-inner-cont">
<h3>best value</h3>
<p>Best brands at most<br />competitive prices!</p>
</div>
</div>
</div>
</div>
<div class="col-md-3 col-xs-12 col-sm-3">
<div class="why-us-inner">
<div class="imgbox"><img alt="" src="{{media url="wysiwyg/why-02.png"}}" />
<div class="why-us-inner-cont">
<h3>BEST SERVICE</h3>
<p>Trained Technicians,<br />Right equipment, 70+ Locations!</p>
</div>
</div>
</div>
</div>
<div class="col-md-3 col-xs-12 col-sm-3">
<div class="why-us-inner">
<div class="imgbox"><img alt="" src="{{media url="wysiwyg/why-03.png"}}" />
<div class="why-us-inner-cont">
<h3>BEST SELECTION</h3>
<p>15+ Brands and 1000+ Patterns and Sizes available!</p>
</div>
</div>
</div>
</div>
<div class="col-md-3 col-xs-12 col-sm-3">
<div class="why-us-inner">
<div class="imgbox"><img alt="" src="{{media url="wysiwyg/why-04.png"}}" />
<div class="why-us-inner-cont no-seperator">
<h3>BEST WARRANTY</h3>
<p>Only New &amp; Genuine tyres carrying manufacturer&rsquo;s<br />warranty!</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row margin-bottom-40 margin-top-80 cms-design-lsc-left-block">
	<div class="col-md-7">
		<h4>How to locate your nearest<br/>Sand Dance Tyres Service Centre</h4>
		<p class="margin-bottom-35">Find your service centre, address details, telephone numbers, location map and directions to avail of our services. Don’t forget to confirm any special offers available at our centers.</p>
		<h4>Standard Timings</h4>
		<p>Saturday to Thursday: 8am to 11pm</p>
		<p class="margin-bottom-35">Fridays: 3pm to 10pm</p>

		<form id="user-location" method="post" class="text-center" action="#">
			<input type="hidden" name="url" value="<?php echo $this->getBaseUrl() . 'storelocator/index/location'; ?>" id="url">
			<input type="hidden" name="searchurl" value="<?php echo $this->getBaseUrl() . 'storelocator/index/searchlocation'; ?>" id="searchurl">
			<input type="hidden" name="url1" value="<?php echo $this->getBaseUrl() . 'storelocator/index/infowindowdescription'; ?>" id="url1">
			<input type="hidden" name="url2" value="<?php echo $this->getBaseUrl() . 'storelocator/index/locationlistdescription'; ?>" id="url2"> 
			<!-- <div class="form-group" id="form-input">
				<input class="form-control" placeholder="Enter Location" type="text" id="address" name="address" class="input-text" /> 
				<button id="submit" class="btn btn-default" type="submit">Search</button>
			</div> -->

		


<?php
$url="http://".$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];
if($url!='http://www.sanddancetyre.com/locate-service-centre.html')
{
?>
<!-- Modal -->
  <div class="modal-backdrop fade in"></div>
<div class="modal fade in modal-cst" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:block;padding-right:17px; top:35%;">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close closebtn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- <h4 class="modal-title" id="myModalLabel">Modal title</h4> -->
      </div>
      <div class="modal-body">
        	<div class="input-group"> 
			    <input class="form-control design-input-text" placeholder="Enter Location" type="text" id="address" name="address" class="input-text" />
			    <div class="input-group-btn">
			      <button class="btn btn-default design-btn-search" type="submit">Search</button>
			    </div>
			</div>
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
<?php } ?>
			<div class="input-group"> 
			    <input class="form-control design-input-text" placeholder="Enter Location" type="text" id="address" name="address" class="input-text" />
			    <div class="input-group-btn">
			      <button class="btn btn-default design-btn-search" type="submit">Search</button>
			    </div>
			</div>
		</form>
		<script type="text/javascript">
			//<![CDATA[
			   var searchForm = new VarienForm('user-location', true);
			  //]]>
		</script>
	</div>
	<div class="col-md-5">
		<div id="store-locator-container"> 
			<div id="map-container">	
				<div id="map"></div>
			</div>
		</div> 
	</div>
</div>
</div>
<?php if(!empty($apikey)):?>
	<div class="row hide"> 
		<div id="store-locator-container"> 
			<div id="map-container">	
				<div id="map"></div>
			</div>
		</div> 
	</div> 
	<div class="row design-search-overlay  hide"> 
		<div id="form-container">
			<form id="user-location" method="post" class="text-center" action="#">
				<input type="hidden" name="url" value="<?php echo $this->getBaseUrl() . 'storelocator/index/location'; ?>" id="url">
				<input type="hidden" name="searchurl" value="<?php echo $this->getBaseUrl() . 'storelocator/index/searchlocation'; ?>" id="searchurl">
				<input type="hidden" name="url1" value="<?php echo $this->getBaseUrl() . 'storelocator/index/infowindowdescription'; ?>" id="url1">
				<input type="hidden" name="url2" value="<?php echo $this->getBaseUrl() . 'storelocator/index/locationlistdescription'; ?>" id="url2"> 
				<div class="design-form-group" id="form-input">
					<input class="form-control design-input-text-field design-input-placeholder design-input-text-field-lg margin-auto" placeholder="Enter Location" type="text" id="address" name="address" class="input-text" /> 
					<button id="submit" class="btn btn-default design-input-submit-overlay" type="submit"><i class="fa fa-search theme-blue-color" aria-hidden="true"></i></button>
				</div>
			</form>
			<script type="text/javascript">
				//<![CDATA[
				   var searchForm = new VarienForm('user-location', true);
				  //]]>
			</script>
		</div>
	</div>
</div> 
<div class="container hide"> 
	<div id="store-locator-container">
		<h3 class="design-heading-3 text-center"><?php echo $this->__("Nearest Service Centres"); ?></h3>  
		<div class="serviceCenterList table-responsive" id="serviceCenterListId">
			<table class="table design-table-1">
				<thead>
					<tr>
							<th>Name</th>
							<th>Address</th>
							<th>Phone Number</th>
							<th>Locate on Map</th>
							<th></th>
					</tr> 
				</thead>
				<tbody>
					<?php 
					$wData = Mage::getSingleton('core/resource')->getConnection('core_write');
					$resultData = $wData->query('select * from storelocator where status=1');
					$rowData = $resultData->fetchAll();
					foreach($rowData as $rowDataValue){ 
						//echo "<pre>"; print_r($rowDataValue);
						$serviceCenterName = $rowDataValue['name'];
						$serviceCenterAddress = $rowDataValue['address'];
						$serviceCenterPhone = $rowDataValue['phone'];
						$serviceCenterStoreId = $rowDataValue['storelocator_id'];
					?>
					<tr>
						<td><?php echo $serviceCenterName; ?></td>
						<td><?php echo $serviceCenterAddress;?></td>
						<td><span class="glyphicon glyphicon glyphicon-earphone padding-right-10"></span><?php echo $serviceCenterPhone; ?></td>
						<td><a href="<?php echo Mage::getBaseUrl()."storelocator/index/detail/id/".$serviceCenterStoreId; ?>" target="_blank" class="design-store-grid-item-link text-uppercase"><i class="fa fa-map-marker theme-blue-color padding-right-10" aria-hidden="true"></i>Show on map</a></td>
						<td class="text-center"><a class="design-link-btn design-link-btn-lg" href="<?php echo Mage::getBaseUrl()."storelocator/index/detail/id/". $serviceCenterStoreId;?>">More Info</a></td>
					</tr> 
					<?php } ?>	
				</tbody>
			</table>
		</div>	
			

		</div>
<?php $storeCol = Mage::getModel('storelocator/storelocator')->getCollection()
				->addFieldToFilter('status',1); ?>
<?php if($storeCol->count()): ?>
<script type="text/javascript">
    jQuery(function() {
        jQuery('#map-container').storeLocator({'slideMap' : false, 'fullMapStart' : true, 'defaultLoc': true, 'defaultLat': '<?php echo $lat; ?>', 'defaultLng' : '<?php echo $lng; ?>' });
    });
</script>
<?php else: ?>
<script type="text/javascript">
    jQuery(function() {
        jQuery('#map-container').storeLocator({'slideMap' : false, 'defaultLoc': true, 'defaultLat': '<?php echo $lat; ?>', 'defaultLng' : '<?php echo $lng; ?>' });
    });
</script>
<?php endif ?>

<script src="https://maps.googleapis.com/maps/api/js?key=<?php echo $apikey;?>"></script>

<?php else: ?>

    <div><?php echo $this->__('Please enter correct google map api key in admin configuration. To know more ')?><a href="https://developers.google.com/maps/documentation/javascript/get-api-key" target="_blank"><?php echo $this->__('Click here')?></a></div>

<?php endif ?>
</div>
<script>
    jQuery(window).on('load',function(){
        jQuery('#myModal').modal('show');
    });
	jQuery(".closebtn").click(function(){
		jQuery('#myModal').css("display","none");	
		jQuery('.modal-backdrop').css("display","none");
	});
	jQuery(".design-btn-search").click(function(){
		jQuery('#myModal').css("display","none");	
		jQuery('.modal-backdrop').css("display","none");
	});
</script>
