/***************************************************************************
	@extension	: Dealer Inquiry Extension.
	@copyright	: Copyright (c) 2014 Capacity Web Solutions.
	( http://www.capacitywebsolutions.com )
	@author		: Capacity Web Solutions Pvt. Ltd.
	@support	: magento@capacitywebsolutions.com	
***************************************************************************/
.clear { clear:both; }
.width_full {width:100% !important;}
.inquiryForm .fieldset .form-list .input-box textarea.input-text {height:86px; resize:none; margin-bottom:10px;}
.inquiryForm { width:100%; padding:20px; font-family:"montserratregular", sans-serif;  box-sizing:border-box; }
.inquiryForm h1 { color:#28397c; font-size:48px; line-height:1; font-family:"montserratblack", sans-serif; text-align:center;  padding:0; margin:80px 0 60px; }
.inquiryForm h1 img { float:left; margin-right:7px; vertical-align:middle; }
.indicates { float:right; color:#FF0000; margin-bottom:10px; }
.inquiryForm .fieldset {text-align: center; margin: 0 auto 200px; padding: 0 !important; border: 0 none !important; width:748px;}
.inquiryForm .form-list .field, .inquiryForm .form-list .wide, .inquiryForm .form-list .control { margin-bottom:0; }
.inquiryForm .fieldset .form-list li { margin-bottom:0; }
.inquiryForm .fieldset .form-list .field { width:48%; margin:0 0 10px; float:none; }
.inquiryForm .fieldset .form-list .input-box { width:100%; margin-bottom:10px;}
.inquiryForm .fieldset .form-list .input-box .input-text {width: 100%; height: 46px; background: #fff; border: 0 none; padding: 20px; letter-spacing: 0.5px;
    -webkit-box-shadow: 0px 24px 50px -5px rgba(49,49,49,0.22); -moz-box-shadow: 0px 24px 50px -5px rgba(49,49,49,0.22); color: #28397c; font-size: 16px;
    box-shadow: 0px 24px 50px -5px rgba(49,49,49,0.22); font-family: "montserratlight", sans-serif;}
.inquiryForm .fieldset .form-list .fields.last { width:50%; float:left; }
.inquiryForm .fieldset .form-list textarea { height:inherit; }
.inquiryForm .fieldset .form-list label { color:#28397c; text-align:left; letter-spacing:1px; margin:0; font-size:12px; font-family:"montserratregular", sans-serif; display:block; }

.inquiryForm .fieldset .form-list .input-box .theme-select {
    position: relative;
    min-width: 100px;
	height:46px;
    background: #fff;
}
.inquiryForm .fieldset .form-list .input-box .theme-select select {
    -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; -ms-appearance: none; appearance: none;
    min-width: 100px;
    z-index: 2;
    position: relative;
    background: transparent;
    width: 100%;
	height:46px;
	border:0px solid #fff; margin-top:0px;
	padding:10px  52px 10px 10px;
	cursor:pointer;
	color:#28397c; font-size:14px; font-family:"montserratregular", sans-serif;
	-webkit-box-shadow: 0px 24px 50px -5px rgba(49,49,49,0.22); -moz-box-shadow: 0px 24px 50px -5px rgba(49,49,49,0.22);
    box-shadow: 0px 24px 50px -5px rgba(49,49,49,0.22);
}
.inquiryForm .fieldset .form-list .input-box .theme-select:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
	background: #28397c url(../images/dropdown_arrow.png) no-repeat right 19px center;
	width:46px;
	height:46px;
}
.inquiryForm .fieldset .form-list .captcha .input-text {width: 100% !important; height: 46px; background: #fff; border: 0 none; padding: 20px; letter-spacing: 0.5px; color: #28397c; font-size: 16px; -webkit-box-shadow: 0px 24px 50px -5px rgba(49,49,49,0.22); -moz-box-shadow: 0px 24px 50px -5px rgba(49,49,49,0.22);
    box-shadow: 0px 24px 50px -5px rgba(49,49,49,0.22); font-family: "montserratlight", sans-serif;}
.captcha ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#28397c; font-size:14px; font-family:"montserratlight", sans-serif; letter-spacing:0.5px;
}
.captcha ::-moz-placeholder { /* Firefox 19+ */
  color:#28397c; font-size:14px; font-family:"montserratlight", sans-serif; letter-spacing:0.5px;
}
.captcha :-ms-input-placeholder { /* IE 10+ */
  color:#28397c; font-size:14px; font-family:"montserratlight", sans-serif; letter-spacing:0.5px;
}
.captcha :-moz-placeholder { /* Firefox 18- */
  color:#28397c; font-size:14px; font-family:"montserratlight", sans-serif; letter-spacing:0.5px;
}
.inquiryForm .fieldset .button-set {float:right;}
.inquiryForm .fieldset .button-set .button {background:#28397c; color:#fff; display:inline-block; text-align:center; text-transform:uppercase; font-size:11px; font-family:"montserratbold", sans-serif; letter-spacing:1px; padding:10px 60px; -webkit-box-shadow: 0px 18px 27px -5px rgba(155,175,255,1);
-moz-box-shadow: 0px 18px 27px -5px rgba(155,175,255,1); box-shadow: 0px 18px 27px -5px rgba(155,175,255,1); text-shadow:none; border:0 none;}

.inquiryForm .fieldset .form-list input, .inquiryForm .fieldset .form-list select,
.inquiryForm .fieldset .form-list textarea { background:#fff; border:1px solid #ddd; padding:5px; font-size:14px; color:#555; }
.inquiryForm .fieldset .form-list input, .inquiryForm .fieldset .form-list select,
.inquiryForm .fieldset .form-list textarea { width:100%; max-width:100%; border-radius:0 0 0; -webkit-border-radius:0 0 0; box-shadow:1px 1px 1px #ddd; -webkit-box-shadow:1px 1px 1px #ddd; }
.inquiryForm .fieldset .form-list input:focus, .inquiryForm .fieldset .form-list select:focus,
.inquiryForm .fieldset .form-list textarea:focus { box-shadow:0 0 3px #ffc45d; -webkit-box-shadow:0 0 3px #ffc45d; transition:all 0.5s ease-in-out 0s; -moz-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; }
.inquiryForm .fieldset .form-list li:after { clear:both; content:"."; display:block; font-size:0; height:0; line-height:0; overflow:hidden; }
.input-box:after { clear:both; content:""; display:table; }
.required { color:#EB340A; }
.captcha-left { float:left; }
.captcha-left b { color:#000; font-size:28px; font-family:"montserratextrabold", sans-serif; border:1px solid #ddd; padding:11px 90px 2px; background:#fff1d8; text-align:center; margin-right:10px; box-shadow:1px 1px 1px #ddd; -webkit-box-shadow:1px 1px 1px #ddd; }
.inquiryForm .fieldset .form-list .fields.last label { margin-bottom:15px; }
.inquiryForm .fieldset .form-list .fields.last input.input-text { width:45%; margin-top:10px; }
#img_refresh { float:left; margin-left:10px; }
#img_refresh img { cursor:pointer; background:#ffa200; border:2px solid #555; padding:10px; box-shadow:1px 1px 1px #ddd; -webkit-box-shadow:1px 1px 1px #ddd; border-radius:30px; -webkit-border-radius:30px; }
.inquiryForm .button { color:#000; background:#ffa200; padding:10px 55px; font-size:18px; font-family:"montserratregular", sans-serif; text-shadow:0 1px 0px #fff; margin:10px 0; transition:all 0.5s ease-in-out 0s; -moz-transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; border:2px solid #fff; box-shadow:1px 2px 2px #999; -webkit-box-shadow:1px 2px 2px #999; }
.inquiryForm .button:hover { color:#fff; background:#346699; text-shadow:0 1px 0px #888; } 
.inquiryForm button.button span { color:inherit; }
.inquiryForm button.button span { background:none; border:0 none; font:inherit; height:inherit; }
p.required, .validation-advice { color:#FF0000; font-size:13px; margin:5px 0 0; }

.inquiryForm .fieldset .form-list  input#date_time { width:50%; }
.inquiryForm .fieldset .form-list  input#file { width:50%; }
img#date-picker-cal { display:inline-block; margin-left:10px; }
div#clearfile { display:inline-block; margin-left:10px; }

.captcha-input-container { width:22.4%; margin:0 0 10px !important; }

@media (max-width:1200px) { 
	.inquiryForm .fieldset .form-list .field { width:60%; margin:0 0 10px 0; float:none; }
	.inquiryForm .fieldset .form-list .input-box { width:100%; }
	.inquiryForm .fieldset .form-list .fields.last { width:50%; margin:0; }
	
	.captcha-input-container { width:60%; }

}
@media (max-width:770px) { 
     .inquiryForm .fieldset .form-list .field { width:100%; clear:both; }
	.inquiryForm .fieldset .form-list input, .inquiryForm .fieldset .form-list select, .inquiryForm .fieldset .form-list textarea,
	.inquiryForm .fieldset .form-list .fields.last input.input-text, .inquiryForm .fieldset .form-list .fields.last { width:100%; }
	.captcha-input-container, .inquiryForm .fieldset .form-list  input#file { width:100%; }
	.inquiryForm .fieldset .form-list  input#date_time { width:80%; }
}
@media (max-width:470px) { 
	.inquiryForm .fieldset .form-list .field { width:100%; clear:both; }
	.inquiryForm .fieldset .form-list input, .inquiryForm .fieldset .form-list select, .inquiryForm .fieldset .form-list textarea,
	.inquiryForm .fieldset .form-list .fields.last input.input-text, .inquiryForm .fieldset .form-list .fields.last { width:100%; }
	
	.inquiryForm .button { padding:10px 51px; }
	
	.captcha-main { float:left; }
}

@media (max-width:390px) { 
	.inquiryForm h1 { font-size:26px; }
	.captcha-left { margin-bottom:15px; }
	#img_refresh { text-align:center; }
}



.inquiryThank  { width:100%; background:#f7f7f7; padding:20px; font-family:"montserratregular", sans-serif;  box-sizing:border-box; }
.inquiryThank h1 {  border-bottom:2px solid #ddd; color:#346699; font-size:32px; font-family:"montserratbold", sans-serif; margin:0 0 10px; padding:0 0 10px; text-shadow:0 2px 0 #fff; }
