.image-gallery-outer{overflow:hidden;}
.owl-carousel .owl-item li,
ul,li{
	padding:0;
	margin:0;
	list-style-type:none;	
}
.slide-desc-box .slide-title {display:none;}
.slide-desc-box
{
	position:absolute;
	top:63%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	width:100%;
	text-align:left;
	padding:0 7%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.slide-desc-box.t-left
{
	text-align:left;	
}
.slide-desc-box.t-right
{
	text-align:right;	
}
.slide-desc-box .slide-title
{
	font-size:56px;
	color:#fff;
	font-family:"montserratblack", sans-serif;
	font-weight:700;	
}
.slide-desc-box .slide-desc
{
	font-size:18px;
}
.owl-theme .owl-controls{
	margin-top: 0px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-nav div
{
	background:#f00;
    border: 0 none;
    height: 44px;
    position: absolute;
    width: 44px;
	top:50%;
	background-position: 100% 0;
	position:absolute;
	font-size:25px;
	font-family:"Comic Sans MS", cursive;
	color:#fff;
	line-height:40px;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.owl-theme .owl-controls .owl-nav .owl-prev 
{    
	left:0;	
}
.owl-theme .owl-controls .owl-nav .owl-next 
{    
	right:0;	
}
.owl-theme .owl-controls .owl-nav .owl-prev:hover 
{
    background-color: #262626;
    background-position: 0 100%;
}
.owl-theme .owl-controls .owl-nav .owl-next:hover 
{
    background-color: #262626;
    background-position: 100% 100%;
}

/* Styling Pagination*/
.owl-theme .owl-controls .owl-dots
{
	position:absolute;
	bottom:100px;
	width:100%;
}
.owl-theme .owl-controls .owl-dot{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin:0 8px;
}
.owl-theme .owl-controls .owl-dot span{
	display: block;
	background:#dadada;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    height: 12px;
    width: 12px;
    z-index: 9;
	margin:0 0 0 0;
}

.owl-theme .owl-controls .owl-dot.active span,
.owl-theme .owl-controls.clickable .owl-dot:hover span{
	background: #969696;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-dot span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}
@media screen and (max-width: 980px) {
	.slide-desc-box{padding:0 70px;}	
}
@media screen and (max-width: 650px) 
{
.slide-desc-box .slide-title
{
	font-size:18px;	
}	
.slide-desc-box .slide-desc{font-size:16px;}
.owl-theme .owl-controls .owl-nav div{
	font-size:20px;
	line-height:35px;
	width:35px;
	height:35px;	
}
.owl-theme .owl-controls .owl-dot span{
	width:10px;
	height:10px;	
}
}
@media screen and (max-width: 480px) {
	.owl-theme .owl-controls .owl-dots{bottom:3px;}	
	.slide-desc-box .slide-title{font-size:14px;line-height:16px;}
	.slide-desc-box {
    padding: 0 35px;
}
.slide-desc-box .slide-desc{font-size:10px;line-height:12px;}
.owl-theme .owl-controls .owl-nav div {
    font-size: 18px;
    height: 25px;
    line-height: 25px;
    width: 25px;
}
.owl-theme .owl-controls .owl-dot span{width:7px;height:7px;}	
}