 <?php
 
/**
 * Quickrfq extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   FME
 * @package    FME_Quickrfq
 * @author     Malik Tahir Mehmood<malik.tahir786@gmail.com>
 * @copyright  Copyright 2010 © free-magentoextensions.com All right reserved
 */

 ?>

	    

	    <div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
	    <div class="page-title">
		<h1><?php echo Mage::helper('quickrfq')->__('Quick RFQ') ?></h1>
	    </div>

	  

<div class="fme_quiik_rfq" style="width: 100%; padding-top: 15px;" >


<div class="form_container clearfix">
                 <form  action="<?php echo $this->getPostActionUrl(); ?>" method="post" enctype="multipart/form-data" id="quickrfq_form" name="quickrfq_form">
                  <div class="outer">
                  <!-- <p>Company Name</p> -->
                  <label for="company"><?php echo Mage::helper('quickrfq')->__('Company Name:') ?></label>
                    <input name="company" value="" class="input-text input" type="text">
                  </div>
                  <div class="outer">
                 <!--  <p>Contact Name <span>*</span></p> -->
                 <label for="name" class="required"><em>*</em><?php echo Mage::helper('quickrfq')->__('Contact Name:') ?></label>
                    <input class="input" name="contact_name" id="name" type="text">
                  </div>
                  <div class="outer last">
                  <!-- <p>Contact Number</p> -->
                  <label for="telephone"><?php echo Mage::helper('quickrfq')->__('Contact Number:') ?></label>
                    <input class="input" name="phone" id="telephone"  type="text" size="29">
                  </div>
                  <div class="outer">
                  <!-- <p>Project Title</p> -->
                  <label for="title"><?php echo Mage::helper('quickrfq')->__('Project Title:') ?></label>
                    <input class="input" name="project_title" id="title" type="text" size="29" >
                  </div>
                  <div class="outer">
                  <p><label for="email" class="required"><em>*</em><?php echo Mage::helper('quickrfq')->__('Email:') ?></label></p>
                    <input name="email" id="email" title="<?php echo Mage::helper('quickrfq')->__('Email') ?>" value="<?php echo $this->htmlEscape($this->helper('quickrfq')->getUserEmail()) ?>"  size="29" type="text" class="input-text input required-entry validate-email">
                  </div>
                  <div class="outer last date">
                  <!-- <p>Quote Needed by</p> -->
                  <label for="date"><?php echo Mage::helper('quickrfq')->__('Quote Needed By:') ?></label>
                    <input class="input" value="<?php echo $this->getEstimateDate() ?>" id="calendar-inputField" name="date">
				    <img id="calendar-trigger" src="<?php echo $this->getSkinUrl() ?>images/quickrfq/cal.gif" width="20px" height="20px" style="" />
                  </div>
                  
                  <div class="outer_textarea">
                  <label for="quickrfq" class="required"><em>*</em><?php echo Mage::helper('quickrfq')->__('Brief Overview:') ?></label>
                    <textarea name="overview" id="overview" title="<?php echo Mage::helper('quickrfq')->__('Brief Overview') ?>" class=" textarea input-text required-entry" style="font-size:14px; max-width:100%"  cols="100" rows="10" id="project_overview"></textarea>
                  </div>
                  
                  
                  
                  
                  <!--budget_status-->
                  
                  <div class="budget_status clearfix">
                    <div class="inner">
                      <div class="budget_inner clearfix">
                        <ul>
                          <li class="first"><label for="status"><?php echo Mage::helper('quickrfq')->__('Project Budget Status:') ?></label></li>
                          
                          <li>
                            <input  class="radio_button" name="budget" value="Approved" checked="checked" type="radio">
                            <label for="budget"><?php echo Mage::helper('quickrfq')->__('Approved') ?></label>
                          </li>
                          <li>
                            <input  class="radio_button" name="budget" value="Approval Pending" type="radio">
                            <label for="budget"><?php echo Mage::helper('quickrfq')->__('Approval Pending') ?></label>
                          </li>
                          <li>
                            <input  class="radio_button" name="budget" value="Open" type="radio">
                            <label for="budget"><?php echo Mage::helper('quickrfq')->__('Open') ?></label>
                          </li>
                          <li>
                            <input class="radio_button" name="budget" value="No Approval" type="radio">
                            <label for="budget"><?php echo Mage::helper('quickrfq')->__('No Approval') ?></label>
                          </li>
                        </ul>
                      </div>
                      <div class="upload_document_block clearfix">
                        <ul>
                          <li class="first"> <label for="file"><?php echo Mage::helper('quickrfq')->__('Upload Document:') ?></label></li>
                          
                          <li>
                            <?php echo $this->getUploadFile() ?>
							<br>
							  <p> You can upload files with these file extensions only (<?php echo $this->getAllowedExtensions() ?> )</p>
                          </li>
                        </ul>
                      </div>
          <div class="captcha_container">
                <div class="captcha"> <input name="captacha_code" type="hidden" id="captacha_code" value="<?php echo $code=$this->getNewrandCode(6)?>" />
		    	<label for="image"><img src="<?php echo $this->getSecureImageUrl() ?>CaptchaSecurityImages.php?width=180&height=40&code=<?php echo $code?>" /></label>
		    </div>
                        <div class="Submit_input">
                        <label for="security_code" class="required"><em>*</em><b>Security Code Message:</b></label>
                          
                          <input class="input" id="security_code" name="security_code" type="text" /> <br /> &nbsp;
                         <p class="note"> <?php echo Mage::helper('quickrfq')->__('If you have difficulty in reading the image above then refresh your browser a few times until you see an image that is clear enough to copy. ') ?>
                        For Magento Support  contact 
				 <a class="nofollow" rel="nofollow" target="_blank"  href="https://www.fmeextensions.com">FME Extensions</a>.</p>
                        </div>
                       
                        <p class="required"><?php echo Mage::helper('quickrfq')->__('* Required Fields') ?></p>
		    <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
		    <button type="submit" title="<?php echo Mage::helper('quickrfq')->__('Submit') ?>" class="button"><span><span><?php echo Mage::helper('quickrfq')->__('Send Request') ?></span></span></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>





</div>

	    
		
		 <script>//<![CDATA[
		Calendar.setup({ 
			trigger: "calendar-trigger", 
			inputField: "calendar-inputField"
			 });
		//]]></script>
		
		<script type="text/javascript">
		//<![CDATA[
		    var contactForm = new VarienForm('quickrfq_form', true);
		//]]>
		</script>
