<style>
	.col-left{
		margin-top:-90px;
}
</style>

<?php
			
			$CatId=104;
			$catagorySubCats= Array();
			$category_model = Mage::getModel('catalog/category'); 
			//print_r($category_model);
			$_category = $category_model->load($CatId);
			
			$all_child_categories = $category_model->getResource()->getAllChildren($_category); //array consisting of all child categories id
			//print_r($all_child_categories);
			foreach ($all_child_categories as $categoryId) {
				$_categoryObj = $category_model->load($categoryId);
				$cat_url = Mage::getModel("catalog/category")->load($categoryId)->getUrl();
				$parentId=$_categoryObj->parent_id;
				$catName=$_categoryObj->getName();
				//echo "<br>parent of $category is :".$parentId;
				if($parentId==$CatId){
					$catagorySubCats[$cat_url]=$catName;
				}
				asort($catagorySubCats);
				//print_r($catagorySubCats);
			}
			
?>

<script>
function catagoryScript(){
	
  var subCat = document.getElementById("cartiresize_cat").value;
   //alert(subCat);
 //var subCat = document.myForm.submit(); 
  //alert(subCat);
  document.location.href = subCat;
}
</script>

<div class="custom_cartiresize_page_div">
    <h2>Get Script Page</h2>
		<div class="cartiresize_dropdown_list_div">
			<form name="myForm" id="myForm" method="POST">
					<div class="cartiresize_codition">Select Your Condition : </div>
					<div class="select_script_prescription">
					<?php foreach ($catagorySubCats as $key=>$value) { ?>
					
						<div class="cartiresize_codition_next_button"><a href="<?php echo $key; ?>"><?php echo $this->__($value);?></a></div>
					<?php } ?>						

						<!--<select name="cartiresize_cat" id="cartiresize_cat">
							<option value=""><?php echo $this->__('Select Prescription') ?></option>
									<?php foreach ($catagorySubCats as $key=>$value)
							{
								if($key == $_GET['catag']){
												$isSelected = 'selected="selected"'; // if the option submited in form is as same as this row we add the selected tag
										} else {
												$isSelected = ''; // else we remove any tag
										 }
							
							?>
									<option class="parent-cat" value="<?php echo $key; ?>"<?php echo $isSelected; ?>><?php echo $this->__($value);?></option>
							<?php
							
							} 
							?>

				 	 </select>-->
				 </div>
			
				<?php 
					
						
							//echo '<br/>cat_url:'.$cat_url;
				?>
				<!-- <div class="cartiresize_codition_next_button"><a onclick="catagoryScript();">Next</a></div> -->
					
			</form>	
    </div>

    

 </div>
