<div id="formodelselectiondiv" class="formodelselectiondiv">
<?php
$make = $_GET['make'];
$year = $_GET['year'];

$cmake = str_replace(' ', '%20',$make);

$connection = Mage::getSingleton('core/resource')->getConnection('core_read');
$sql= "SELECT carmodel from makes WHERE make='".$make."' AND caryear='".$year."'";
$rows= $connection->fetchAll($sql); 
$rowCount = count($rows);

if($rowCount>0)
{
	echo($rows[0]['carmodel']);

}
else
{
  $url = "https://tiresize.com/cgi-bin/newmodel.cgi?year=".$year."&make=".$cmake;
  $cl = curl_init($url);
  curl_setopt($cl,CURLOPT_RETURNTRANSFER,true); 
  curl_setopt($cl, CURLOPT_HEADER, 0);
  $str = curl_exec($cl);
  curl_close($cl);
  $pos = str_replace('<select id="modelselect" onchange="GetSubModel()">', ' ', $str);
  $str = str_replace('</select>', ' ', $pos);
 
	$write = Mage::getSingleton("core/resource")->getConnection("core_write");
	$sql = "INSERT INTO makes (make,caryear,carmodel) VALUES('".$make."','".$year."','".$str."')";
	$write->query($sql);
    echo($str);

}
?>
</div>