<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>

<?php
/**
* @category    design
* @package     base_default
* @copyright   Copyright (c) 2010 category based search phtml KAM Technology www.kamtechco.net
*/
?>

<?php
   header("Cache-Control: no-cache, must-revalidate");     // Must do cache-control headers
   header("Expires: Mon, 26 Jul 2010 05:00:00 GMT");       // or IE will pull from cache 100% of time (which is really bad)
?>
<script type="text/javascript" ></script>

<script>

function getXMLHTTP() { //fuction to return the xml http object

		var xmlhttp=false;	
		try{
			xmlhttp=new XMLHttpRequest();
		}
		catch(e)	{		
			try{			
				xmlhttp= new ActiveXObject("Microsoft.XMLHTTP");
			}
			catch(e){
				try{
				xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
				}
				catch(e1){
					xmlhttp=false;
				}
			}
		}
		return xmlhttp;
	}
	
	function showmesg(caller,mesg){
	alert("Called from: "+caller+" \n Message : "+ mesg);
	}
	
	function getResponseToDiv(actionURL,strDiv,optionid) {
        //category based search phtml KAM Technology www.kamtechco.net
		//showmesg(strURL,strDiv,optionid);
		
		var url_prefix="<?php echo $this->getBaseUrl() ?>"+"ts/tiresearch/";
		var strURL=url_prefix+actionURL;
				
         if (optionid=="-1")
         {
             refreshdropdowns(strDiv);
             return;
         }
		var req = getXMLHTTP();
		if (req) {
			req.onreadystatechange = function() {
				if (req.readyState==2 || 4) {
				//document.getElementById(strDiv).style.display="block"; 
				document.body.style.cursor = "wait";
				}

				if (req.readyState == 4) {
				//document.getElementById(strDiv).style.display="none";
				document.body.style.cursor = "auto";
					// Get response only if "OK"
					if (req.status == 200) {						
						document.getElementById(strDiv).innerHTML=req.responseText;						
					} else {
						alert("There was a problem while using XMLHTTP:\n" + req.statusText);
					}
				}				
			}
			
			req.open("GET", strURL, true);
			req.send(null);
		}
				
	}
 function refreshdropdowns(strDiv)
 {
     if(strDiv=="widthdiv"){
     
     document.getElementById("widthdiv").innerHTML = "<select id=twidth name=width> <option>Select Width</option> </select>";
  }
     if(strDiv=="widthdiv"){
     document.getElementById(strDiv).innerHTML = "<select id=twidth name=width> <option>Select Width</option> </select>";
  }

    if(strDiv=="car_makediv"){
     
     document.getElementById("car_makediv").innerHTML = "<select id=tcar_make name=car_make> <option>Select Make</option> </select>";
  }
     if(strDiv=="car_makediv"){
     document.getElementById(strDiv).innerHTML = "<select id=tcar_make name=car_make> <option>Select Make</option> </select>";
  } 
  
 } 
 function trim(s){
    var l=0; var r=s.length -1;
    while(l < s.length && s[l] == ' ')
    {     l++; }
    while(r > l && s[r] == ' ')
    {     r-=1;     }
    return s.substring(l, r+1);
} 
function GYearSelected(){

	var baseURL="";		
	var widthval="";
	widthval=trim(document.getElementById("twidth").options[document.getElementById("twidth").selectedIndex].value);
    if(document.getElementById("twidth").options[document.getElementById("twidth").selectedIndex].id==-1)
	{
	
	document.getElementById("error-block-div").innerHTML="<p class=error-msg>"+"Please select the width"+"</p>";
	return;
	}
	if(document.getElementById("ratio").options[document.getElementById("ratio").selectedIndex].id==-1)
	{
		baseURL="<?php echo $this->getBaseUrl() ?>" + "catalogsearch/advanced/result/?name=&description=&short_description=&sku=&price%5Bfrom%5D=&price%5Bto%5D=&width="+widthval;
		//top.location.href = baseURL;
		//return

	}
	var ratioval="";
	ratioval=trim(document.getElementById("ratio").options[document.getElementById("ratio").selectedIndex].value);

	if(document.getElementById("diameter").options[document.getElementById("diameter").selectedIndex].id==-1)
	{
		baseURL="<?php echo $this->getBaseUrl() ?>" + "catalogsearch/advanced/result/?name=&description=&short_description=&sku=&price%5Bfrom%5D=&price%5Bto%5D=&width="+widthval+"&ratio="+ratioval;
	//	top.location.href = baseURL;
		//return
	}	

	var diameterval=trim(document.getElementById("diameter").options[document.getElementById("diameter").selectedIndex].value);
	
	if(document.getElementById("diameter").options[document.getElementById("diameter").selectedIndex].id != -1)
	{
		baseURL="<?php echo $this->getBaseUrl() ?>" + "catalogsearch/advanced/result/?name=&description=&short_description=&sku=&price%5Bfrom%5D=&price%5Bto%5D=&width="+widthval+"&ratio="+ratioval+"&diameter="+diameterval;
	//	top.location.href = baseURL;
		//return
	}	

if(document.getElementById('passenger').checked == true){
	 car_type = document.getElementById('passenger').value;
	  baseURL  ="<?php echo $this->getBaseUrl() ?>" + "catalogsearch/advanced/result/?name=&description=&short_description=&sku=&price%5Bfrom%5D=&price%5Bto%5D=&width="+widthval+"&ratio="+ratioval+"&diameter="+diameterval+"&car_type="+car_type;
}	

if(document.getElementById('tyres4_4').checked == true){
	 car_type = document.getElementById('tyres4_4').value;
	  baseURL  ="<?php echo $this->getBaseUrl() ?>" + "catalogsearch/advanced/result/?name=&description=&short_description=&sku=&price%5Bfrom%5D=&price%5Bto%5D=&width="+widthval+"&ratio="+ratioval+"&diameter="+diameterval+"&car_type="+car_type;
}	

if(document.getElementById('vantyres').checked == true){
	 car_type = document.getElementById('vantyres').value;
	  baseURL  ="<?php echo $this->getBaseUrl() ?>" + "catalogsearch/advanced/result/?name=&description=&short_description=&sku=&price%5Bfrom%5D=&price%5Bto%5D=&width="+widthval+"&ratio="+ratioval+"&diameter="+diameterval+"&car_type="+car_type;
}	

//alert(baseURL);  console.log(baseURL);

 top.location.href = baseURL;
}

// Search By Car

function carSelected(){

	var baseURL="";		
	var car_makeval="";
	car_makeval=trim(document.getElementById("tcar_make").options[document.getElementById("tcar_make").selectedIndex].value);
    if(document.getElementById("tcar_make").options[document.getElementById("tcar_make").selectedIndex].id==-1)
	{
	
	document.getElementById("error-block-div-car").innerHTML="<p class=error-msg>"+"Please select the car make"+"</p>";
	return;
	}
	if(document.getElementById("car_model").options[document.getElementById("car_model").selectedIndex].id==-1)
	{
		baseURL="<?php echo $this->getBaseUrl() ?>" + "catalogsearch/advanced/result/?name=&description=&short_description=&sku=&price%5Bfrom%5D=&price%5Bto%5D=&car_make="+car_makeval;
		//top.location.href = baseURL;
		//return

	}
	var car_modelval="";
	car_modelval=trim(document.getElementById("car_model").options[document.getElementById("car_model").selectedIndex].value);

	if(document.getElementById("car_year").options[document.getElementById("car_year").selectedIndex].id==-1)
	{
		baseURL="<?php echo $this->getBaseUrl() ?>" + "catalogsearch/advanced/result/?name=&description=&short_description=&sku=&price%5Bfrom%5D=&price%5Bto%5D=&car_make="+car_makeval+"&car_model="+car_modelval;
		//top.location.href = baseURL;
		//return
	}

	var car_yearval=trim(document.getElementById("car_year").options[document.getElementById("car_year").selectedIndex].value);
	
	if(document.getElementById("car_year").options[document.getElementById("car_year").selectedIndex].id !=-1)
	{
		baseURL="<?php echo $this->getBaseUrl() ?>" + "catalogsearch/advanced/result/?name=&description=&short_description=&sku=&price%5Bfrom%5D=&price%5Bto%5D=&car_make="+car_makeval+"&car_model="+car_modelval+"&car_year="+car_yearval;
	//	top.location.href = baseURL;
		//return
	}	

if(document.getElementById('passenger').checked == true){
	 car_type = document.getElementById('passenger').value;
	  baseURL  ="<?php echo $this->getBaseUrl() ?>" + "catalogsearch/advanced/result/?name=&description=&short_description=&sku=&price%5Bfrom%5D=&price%5Bto%5D=&car_make="+car_makeval+"&car_model="+car_modelval+"&car_year="+car_yearval+"&car_type="+car_type;
}	

if(document.getElementById('tyres4_4').checked == true){
	 car_type = document.getElementById('tyres4_4').value;
	  baseURL  ="<?php echo $this->getBaseUrl() ?>" + "catalogsearch/advanced/result/?name=&description=&short_description=&sku=&price%5Bfrom%5D=&price%5Bto%5D=&car_make="+car_makeval+"&car_model="+car_modelval+"&car_year="+car_yearval+"&car_type="+car_type;
}	

if(document.getElementById('vantyres').checked == true){
	 car_type = document.getElementById('vantyres').value;
	  baseURL  ="<?php echo $this->getBaseUrl() ?>" + "catalogsearch/advanced/result/?name=&description=&short_description=&sku=&price%5Bfrom%5D=&price%5Bto%5D=&car_make="+car_makeval+"&car_model="+car_modelval+"&car_year="+car_yearval+"&car_type="+car_type;
}	

//alert(baseURL);	
 top.location.href = baseURL;
}

</script>

<?php 
$validate = false; 
$_SERVER_URL = $_SERVER['SERVER_NAME'];
$encrypt = crypt($_SERVER_URL, 'd4'); 
$path = Mage::getBaseDir();
$file1 = $path."/tiresearch-license.txt";
if(file_exists($file1)) {
$lines = file($file1);
foreach($lines as $line_num => $linetxt)
{
$line = $linetxt;
if($encrypt==trim($line)) {
$validate = true;
break;
}

}
}
//if(!$validate) { ?>
<!--<script type="text/javascript"  src="<?php //echo $this->getJsUrl('ts/ts.js') ?>"> </script>-->
<?php //} ?>

<div class="container padding-top-25 custom-search-block">
	<div class="search-box clearfix">

<form name="tire" method="get" >

<div class="radio-box">
<div class="btn-group btn-group-vertical" data-toggle="buttons">
	<label class="btn active"> 
				<input type="radio" name="tyreType"  id="passenger"  value="passenger"/> 
				<div class="design-radio-button design-radio-button-small design-radio-button-blue-color"></div><span> Passenger Car Tyres</span> 
	</label> 
	<label class="btn"> 
				<input type="radio" name="tyreType" id="tyres4_4"  value="tyres4_4" />
				<div class="design-radio-button design-radio-button-small design-radio-button-blue-color"></div><span> 4x4 Tyres</span> 
	</label> 
	<label class="btn"> 
				<input type="radio" name="tyreType" id="vantyres"  value="vantyres"/>
				<div class="design-radio-button design-radio-button-small design-radio-button-blue-color"></div><span> Van Tyres</span> 
	</label>
</div>
</div>
<div class="">
<div class="col-md-6 col-xs-12 col-sm-6 background-gray padding-none cust-tire-search-sec-one">
<div class="search-inner text-center">
<h3 class="size">search by size &nbsp;</h3>

<div class="dropdown-sec">
	<div class="form-group">
	<label>Width</label>
		<div class="theme-select" id="widthdiv">

			<select id=twidth name="width" onChange="getResponseToDiv('findratio?width='+this.options[this.selectedIndex].value,'ratiodiv',this.options[this.selectedIndex].value)">
					<option id=-1 value="">Width</option>

						<?php 
					$widthattribute_code="width";
					$resource = Mage::getSingleton ( 'core/resource' );
					$readonce = $resource->getConnection ( 'core_read' );
					$table1=$resource->getTableName ( 'eav_attribute' );
					$table2=$resource->getTableName ( 'catalog_product_entity_varchar' );

					$widthquery = $readonce->query("select attribute_id from ".$table1." where attribute_code='".$widthattribute_code."'");
					$row = $widthquery->fetch ();
					$width_attributeid=$row['attribute_id'];
				
							$genquery = $readonce->query("select distinct value from ".$table2." where  attribute_id=".$width_attributeid ." order by value ");
					?>
					
					<?php
					$allzwidth='';
					while($row4 = $genquery->fetch ())
					{
					$allzwidth=$allzwidth.$row4['value'].',';
					}
					$wzinput=explode(',',$allzwidth);
					$wzresult = array_unique($wzinput);
					sort($wzresult);
					for($wz=1;$wz<count($wzresult); $wz++){
					?>
					<option value="<?php echo $wzresult[$wz];?>"><?php echo $wzresult[$wz];?></option>
					 <?php
					}
					
					
					?>
					</select>

		</div>
	</div>
</div>

<div class="dropdown-sec">
	<div class="form-group">
		<label>Profile</label>
			<div class="theme-select" id="ratiodiv">
					<select id=ratio name="ratio">
							<option id=-1 value="">Profile</option>
					</select>
			</div>
	</div>
</div>

<div class="dropdown-sec marginright-0">
	<div class="form-group">
		<label>Rim size</label>
			<div class="theme-select" id="diameterdiv">
				<select id=diameter name="diameter">
					<option id=-1 value="">Rim Size</option>
			</select>
			</div>
	</div>
</div>

<div id="error-block-div"> </div>

<div class="text-center margintop-15">
<!--<p class="rear-size"><i class="fa fa-plus-circle" aria-hidden="true"></i> ADD A DIFFERENT REAR SIZE</P>-->
<button class="btn-search button pull-right margin-right-25" type="button" onClick="GYearSelected()" title="<?php echo $this->__('Search') ?>" class="button"><span><span><?php echo $this->__('Search') ?></span></span></button>
</div>


</div>
</div>
</form>


<div class="col-md-6 col-xs-12 col-sm-6 before-seperator background-gray padding-none cust-tire-search-sec">
	<div class="search-inner text-center">
	<h3 class="size">search by car</h3>
		<div class="dropdown-sec" >
			<div class="form-group">
			<label>car make</label>
				<div class="theme-select" id="car_makediv">
			<select id=tcar_make name="car_make" onChange="getResponseToDiv('findcar_model?car_make='+this.options[this.selectedIndex].value,'car_modeldiv',this.options[this.selectedIndex].value)">
					<option id=-1 value="Select Make">Make</option>					
<?php 
		$car_makeattribute_code="car_make";
		$resourceCar = Mage::getSingleton ( 'core/resource' );
		$readonceCar = $resourceCar->getConnection ( 'core_read' );
		$table1Car=$resourceCar->getTableName ( 'eav_attribute' );
		$table2Car=$resourceCar->getTableName ( 'catalog_product_entity_varchar' );

		$car_makequery = $readonceCar->query("select attribute_id from ".$table1Car." where attribute_code='".$car_makeattribute_code."'");
		$rowCar = $car_makequery->fetch ();
		$car_make_attributeid=$rowCar['attribute_id'];

		$genqueryCar = $readonceCar->query("select distinct value from ".$table2Car." where  attribute_id=".$car_make_attributeid ." order by value ");
?>

<?php
		$allzwidthCar='';
		while($row4Car = $genqueryCar->fetch ())
		{
			$allzwidthCar=$allzwidthCar.$row4Car['value'].',';
		}
		$wzinputCar=explode(',',$allzwidthCar);
		$wzresultCar = array_unique($wzinputCar);
		sort($wzresultCar);
		for($wzCar=1;$wzCar<count($wzresultCar); $wzCar++){
?>
	<option value="<?php echo $wzresultCar[$wzCar];?>"><?php echo $wzresultCar[$wzCar];?></option>
<?php
	}
?>
		</select>					
				</div>
			</div>
		</div>
		

		
		<div class="dropdown-sec marginright-0">
			<div class="form-group">
				<label>year</label>
			<div class="theme-select" id="car_yeardiv">
				<select id="car_year" name="car_year">
					<option id=-1 value="">Year</option>
			</select>
			</div>
			</div>
		</div>
		
		<div class="dropdown-sec">
			<div class="form-group">
				<label>model</label>
				<div class="theme-select" id="car_modeldiv">
					<select id="car_model" name="car_model">
							<option id=-1 value="">Model</option>
					</select>
				</div>
			</div>
		</div>
		<div class="dropdown-sec">
			<div class="form-group">
				<label>Variant</label>
				<div class="theme-select" id="car_modeldiv">
					<select id="car_model" name="car_model">
							<option id=-1 value="">Variant</option>
					</select>
				</div>
			</div>
		</div>
<div id="error-block-div-car"> </div>		
	<div class="text-center margintop-15 cust-srch-right">
	<!--<p class="rear-size"><i class="fa fa-plus-circle" aria-hidden="true"></i> ADD A DIFFERENT REAR SIZE</P>-->
		<button class="btn-search button pull-right margin-right-25" type="button" onClick="carSelected()" title="<?php echo $this->__('Search') ?>" class="button"><span><span><?php echo $this->__('Search') ?></span></span></button>
	</div>
	</div>
</div>

</div>

</div>
</body>
</html>
