<?php if($this->getGoogleMapApiKey()){ ?>
    <script src="https://maps.googleapis.com/maps/api/js?key=<?php echo $this->getGoogleMapApiKey(); ?>&v=3.exp&sensor=false&libraries=places&language=en"></script>
<?php } ?>
<script type="text/javascript">if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))) {
        $$('.onestepcheckout-index-index')[0].addClassName('iphone');
    }</script>
<?php $styleChange = Mage::helper('onestepcheckout')->getStyle(); ?>
<?php $background_color = Mage::helper('onestepcheckout')->getBackgroundColor($styleChange); ?>
<?php $background_button = Mage::helper('onestepcheckout')->getCheckoutButtonColor(); ?>
<?php if (!$styleChange || $styleChange == 'orange'): ?>
    <?php $styleUse = Mage::helper('onestepcheckout')->getBackgroundColor('orange'); ?>
<?php elseif ($styleChange == 'custom'): ?>
    <?php $styleUse = '#' . Mage::helper('onestepcheckout')->getStyleColor(); ?>
<?php else: ?>
    <?php $styleUse = Mage::helper('onestepcheckout')->getBackgroundColor($styleChange); ?>
<?php endif; ?>
<style type="text/css">
    .one-step-checkout h3 {
        background-color: <?php echo $styleUse ?> !important;
    }

    button.onestepcheckout-btn-checkout {
        background: <?php echo $background_button ?> !important;
    }

    button.onestepcheckout-btn-checkout:hover {
        cursor: pointer;
    }

    button.onestepcheckout-btn-checkout span span {
        font-size: 20px !important;
    }

    button#remove_coupon_code_button,
    button#add_coupon_code_button,
    .onestepcheckout-popup-wrapper h1,
    #onestepcheckout-login-popup button.button,
    #onestepcheckout-forgot-button,
    #onestepcheckout-toc-popup h1,
    .onestepcheckout-login-link a span,
    #onestepcheckout-forgot-table li.last p a span,
    #onestepcheckout-register-table li.last p a span,
    p.forgot-link a span,
    p.register-link a span {
        background-color: <?php echo $styleUse ?> !important;

    }

    .onestepcheckout-login-link a,
    p.forgot-link a,
    p.register-link a,
    #onestepcheckout-forgot-table li.last p a,
    #onestepcheckout-register-table li.last p a {
        color: <?php echo $styleUse ?> !important;
    }

    button#add_coupon_code_button:hover {
        cursor: pointer;
    }

    button#remove_coupon_code_button:hover {
        cursor: pointer;
    }

    button.place-order-loader span {
        background: none !important;
    }

    #notify-email-invalid {
        width: 250px !important;
        height: 70px !important;
        position: fixed !important;
        margin-left: -125px !important;
        margin-top: -50px !important;
        top: 50% !important;
        left: 50% !important;
        z-index: 9999999 !important;
        background: #fff;
        box-shadow: 3px 3px 3px #aaa;
        border-radius: 5px;
    }

    #notify-email-invalid-overlay {
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
        z-index: 9999998 !important;
        opacity: 0.65;
    }
</style>
<!-- Start: Added by Daniel - 02/04/2015 - set background color for top links buttons after login from OSC -->
<style type='text/css'>
    .onestepcheckout-index-index #osc_top_links a {
        background: <?php echo $styleUse?>;
    }
</style>
<!-- End: Added by Daniel - 02/04/2015 - set background color for top links buttons after login from OSC -->
