<div id="forvariantselectiondiv" class="forvariantselectiondiv">

<?php
$make = $_GET['make'];
$year = $_GET['year'];
$model = $_GET['model'];

$cmake = str_replace(' ', '%20',$make);
$cmodel = str_replace(' ', '%20',$model);

$connection = Mage::getSingleton('core/resource')->getConnection('core_read');
$sql= "SELECT variant from variant WHERE make='".$make."' AND caryear='".$year."' AND carmodel='".$model."'";
$rows= $connection->fetchAll($sql); 
$rowCount = count($rows);

if($rowCount>0)
{
	echo($rows[0]['variant']);

}
else
{
  $url = "https://tiresize.com/cgi-bin/newsubmodel.cgi?model=".$cmodel."&year=".$year."&make=".$cmake;
  $cl = curl_init($url);
  curl_setopt($cl,CURLOPT_RETURNTRANSFER,true); 
  curl_setopt($cl, CURLOPT_HEADER, 0);
  $str = curl_exec($cl);
  curl_close($cl);
  $pos = str_replace('<select id="modelselect" onchange="GetSubModel()">', ' ', $str);
  $str = str_replace('</select>', ' ', $pos);
 
  $write = Mage::getSingleton("core/resource")->getConnection("core_write");
  $sql = "INSERT INTO variant (make,caryear,carmodel,variant) VALUES('".$make."','".$year."','".$model."','".$str."')";
  $write->query($sql);
  echo($str);

}

?>