<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>

<?php
/**
* @category    design
* @package     base_default
* @copyright   Copyright (c) 2010 category based search phtml KAM Technology www.kamtechco.net
*/
?>

<?php
   header("Cache-Control: no-cache, must-revalidate");     // Must do cache-control headers
   header("Expires: Mon, 26 Jul 2010 05:00:00 GMT");       // or IE will pull from cache 100% of time (which is really bad)
?>
<script type="text/javascript" ></script>

<script>

function getXMLHTTP() { //fuction to return the xml http object

		var xmlhttp=false;	
		try{
			xmlhttp=new XMLHttpRequest();
		}
		catch(e)	{		
			try{			
				xmlhttp= new ActiveXObject("Microsoft.XMLHTTP");
			}
			catch(e){
				try{
				xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
				}
				catch(e1){
					xmlhttp=false;
				}
			}
		}
		return xmlhttp;
	}
	
	function showmesg(caller,mesg){
	alert("Called from: "+caller+" \n Message : "+ mesg);
	}
	
	function getResponseToDiv(actionURL,strDiv,optionid) {
        //category based search phtml KAM Technology www.kamtechco.net
		//showmesg(strURL,strDiv,optionid);
		
		var url_prefix="<?php echo $this->getBaseUrl() ?>"+"ts/tiresearch/";
		var strURL=url_prefix+actionURL;
				
         if (optionid=="-1")
         {
             refreshdropdowns(strDiv);
             return;
         }
		var req = getXMLHTTP();
		if (req) {
			req.onreadystatechange = function() {
				if (req.readyState==2 || 4) {
				//document.getElementById(strDiv).style.display="block"; 
				document.body.style.cursor = "wait";
				}

				if (req.readyState == 4) {
				//document.getElementById(strDiv).style.display="none";
				document.body.style.cursor = "auto";
					// Get response only if "OK"
					if (req.status == 200) {						
						document.getElementById(strDiv).innerHTML=req.responseText;						
					} else {
						alert("There was a problem while using XMLHTTP:\n" + req.statusText);
					}
				}				
			}
			
			req.open("GET", strURL, true);
			req.send(null);
		}
				
	}
 function refreshdropdowns(strDiv)
 {
     if(strDiv=="widthdiv"){
     
     document.getElementById("widthdiv").innerHTML = "<select id=twidth name=width> <option>Select Width</option> </select>";
  }
     if(strDiv=="widthdiv"){
     document.getElementById(strDiv).innerHTML = "<select id=twidth name=width> <option>Select Width</option> </select>";
  }

 } 
 function trim(s){
    var l=0; var r=s.length -1;
    while(l < s.length && s[l] == ' ')
    {     l++; }
    while(r > l && s[r] == ' ')
    {     r-=1;     }
    return s.substring(l, r+1);
} 
function GYearSelected(){

	var baseURL="";		
	var widthval="";
	widthval=trim(document.getElementById("twidth").options[document.getElementById("twidth").selectedIndex].value);
    if(document.getElementById("twidth").options[document.getElementById("twidth").selectedIndex].id==-1)
	{
	
	document.getElementById("error-block-div").innerHTML="<p class=error-msg>"+"Please enter search settings"+"</p>";
	return;
	}
	if(document.getElementById("ratio").options[document.getElementById("ratio").selectedIndex].id==-1)
	{
		baseURL="<?php echo $this->getBaseUrl() ?>" + "catalogsearch/advanced/result/?name=&description=&short_description=&sku=&price%5Bfrom%5D=&price%5Bto%5D=&width="+widthval;
		top.location.href = baseURL;
		return

	}
	var ratioval="";
	ratioval=trim(document.getElementById("ratio").options[document.getElementById("ratio").selectedIndex].value);

	if(document.getElementById("diameter").options[document.getElementById("diameter").selectedIndex].id==-1)
	{
		baseURL="<?php echo $this->getBaseUrl() ?>" + "catalogsearch/advanced/result/?name=&description=&short_description=&sku=&price%5Bfrom%5D=&price%5Bto%5D=&width="+widthval+"&ratio="+ratioval;
		top.location.href = baseURL;
		return
	}

	var diameterval=trim(document.getElementById("diameter").options[document.getElementById("diameter").selectedIndex].value);
    if(document.getElementById("manufacturer").options[document.getElementById("manufacturer").selectedIndex].id==-1)
	{
	baseURL="<?php echo $this->getBaseUrl() ?>" + "catalogsearch/advanced/result/?name=&description=&short_description=&sku=&price%5Bfrom%5D=&price%5Bto%5D=&width="+widthval+"&ratio="+ratioval+"&diameter="+diameterval;
	top.location.href = baseURL;
	return
}


	var manufacturerval=trim(document.getElementById("manufacturer").options[document.getElementById("manufacturer").selectedIndex].value);
	//baseURL="<?php echo $this->getBaseUrl() ?>" + "catalogsearch/advanced/result/?name=&description=&short_description=&sku=&price%5Bfrom%5D=&price%5Bto%5D=&width="+widthval+"&ratio="+ratioval+"&diameter="+diameterval+"&manufacturer="+manufacturerval;
	//submit URL
	//top.location.href = baseURL;


	if(document.tire.passenger.checked==true)
			 {
			   
			   document.tire.passenger.value=1;
			 }
			 else
			 {
			   document.tire.passenger.value=0;
			 }

			 if(document.tire.truck.checked==true)
			 {
			   
			   document.tire.truck.value=1;
			 }
			 else
			 {
			   document.tire.truck.value=0;
			 }
             
			 if(document.tire.minivan.checked==true)
			 {
			   
			   document.tire.minivan.value=1;
			 }
			 else
			 {
			   document.tire.minivan.value=0;
			 }
              
             if(document.tire.summer.checked==true)
			 {
			   
			   document.tire.summer.value=1;
			 }
			 else
			 {
			   document.tire.summer.value=0;
			 }

			 if(document.tire.winter.checked==true)
			 {
			   
			   document.tire.winter.value=1;
			 }
			 else
			 {
			   document.tire.winter.value=0;
			 }
             
			  if(document.tire.allseason.checked==true)
			 {
			   
			   document.tire.allseason.value=1;
			 }
			 else
			 {
			   document.tire.allseason.value=0;
			 }


if((document.tire.passenger.checked==false) && (document.tire.truck.checked==false) && (document.tire.minivan.checked==false) && (document.tire.summer.checked==false) && (document.tire.winter.checked==false) && (document.tire.allseason.checked==false))
		 {
            baseURL  ="<?php echo $this->getBaseUrl() ?>" + "catalogsearch/advanced/result/?name=&description=&short_description=&sku=&price%5Bfrom%5D=&price%5Bto%5D=&width="+widthval+"&ratio="+ratioval+"&diameter="+diameterval+"&manufacture="+manufacturerval;

		 }
else if((document.tire.passenger.checked==false) && (document.tire.truck.checked==false) && (document.tire.minivan.checked==false))
		 {
	baseURL = "<?php echo $this->getBaseUrl() ?>" + "catalogsearch/advanced/result/?name=&description=&short_description=&sku=&price%5Bfrom%5D=&price%5Bto%5D=&width="+widthval+"&ratio="+ratioval+"&diameter="+diameterval+"&manufacture="+manufacturerval+"&summer="+document.tire.summer.value+"&winter="+document.tire.winter.value+"&allseason="+document.tire.allseason.value;
		 }

else if((document.tire.summer.checked==false) && (document.tire.winter.checked==false) && (document.tire.allseason.checked==false))
		 {
			 baseURL = "<?php echo $this->getBaseUrl() ?>" + "catalogsearch/advanced/result/?name=&description=&short_description=&sku=&price%5Bfrom%5D=&price%5Bto%5D=&width="+widthval+"&ratio="+ratioval+"&diameter="+diameterval+"&manufacture="+manufacturerval+"&passenger="+document.tire.passenger.value+"&truck="+document.tire.truck.value+"&minivan="+document.tire.minivan.value;

		 }
		 
		else
		 {
           baseURL  ="<?php echo $this->getBaseUrl() ?>" + "catalogsearch/advanced/result/?name=&description=&short_description=&sku=&price%5Bfrom%5D=&price%5Bto%5D=&width="+widthval+"&ratio="+ratioval+"&diameter="+diameterval+"&manufacture="+manufacturerval+"&passenger="+document.tire.passenger.value+"&truck="+document.tire.truck.value+"&minivan="+document.tire.minivan.value+"&summer="+document.tire.summer.value+"&winter="+document.tire.winter.value+"&allseason="+document.tire.allseason.value;
		 }
			   
		   top.location.href = baseURL;
}

</script>

<?php 
$validate = false; 
$_SERVER_URL = $_SERVER['SERVER_NAME'];
$encrypt = crypt($_SERVER_URL, 'd4'); 
$path = Mage::getBaseDir();
$file1 = $path."/tiresearch-license.txt";
if(file_exists($file1)) {
$lines = file($file1);
foreach($lines as $line_num => $linetxt)
{
$line = $linetxt;
if($encrypt==trim($line)) {
$validate = true;
break;
}

}
}
if(!$validate) { ?>
<script type="text/javascript"  src="<?php echo $this->getJsUrl('ts/ts.js') ?>"> </script>
<?php } ?>
<div class="page-title" align="center">
    <h1><?php echo $this->__('Tire Search') ?></h1>
</div>
<div id="error-block-div"> </div>
<form name="tire" method="get" >
<div align="center">
<table>
<tr>
<div class="form-list" id="advanced-search-list">
<td>
<!--<b><label for="Width"><?php echo $this->__('Width') ?></label></b>-->
<div class="field"  id="widthdiv" class="even"><select id=twidth name="width" onChange="getResponseToDiv('findratio?width='+this.options[this.selectedIndex].value,'ratiodiv',this.options[this.selectedIndex].value)">
    	<option id=-1 value="<?php echo $this->__('Select Width') ?>"><?php echo $this->__('Select Width') ?></option>

			<?php 
		$widthattribute_code="width";
		$resource = Mage::getSingleton ( 'core/resource' );
		$readonce = $resource->getConnection ( 'core_read' );
		$table1=$resource->getTableName ( 'eav_attribute' );
		$table2=$resource->getTableName ( 'catalog_product_entity_varchar' );

		$widthquery = $readonce->query("select attribute_id from ".$table1." where attribute_code='".$widthattribute_code."'");
		$row = $widthquery->fetch ();
		$width_attributeid=$row['attribute_id'];
	
				$genquery = $readonce->query("select distinct value from ".$table2." where  attribute_id=".$width_attributeid ." order by value ");
		?>
		
		<?php
		$allzwidth='';
		while($row4 = $genquery->fetch ())
		{
		$allzwidth=$allzwidth.$row4['value'].',';
		}
		$wzinput=explode(',',$allzwidth);
		$wzresult = array_unique($wzinput);
		sort($wzresult);
		for($wz=1;$wz<count($wzresult); $wz++){
		?>
		<option value="<?php echo $wzresult[$wz];?>"><?php echo $wzresult[$wz];?></option>
		 <?php
		}
		
		
		?>
        </select></div>
</td>
</div>

<td>&nbsp;</td>


<div class="form-list" id="advanced-search-list">
<td>
<!--<b><label for="AspectRatio"><?php echo $this->__('AspectRatio') ?></label></b>-->
<div class="field"  id="ratiodiv"><select id=ratio name="ratio">
	<option id=-1 value="<?php echo $this->__('Select AspectRatio') ?>"><?php echo $this->__('Select AspectRatio') ?></option>
        </select></div>
</td>
</div>

<td>&nbsp;</td>
<div class="form-list" id="advanced-search-list">
<td>
<!--<b><label for="Diameter"><?php echo $this->__('Diameter') ?></label></b>-->
<div class="field" id="diameterdiv" ><select id=diameter name="diameter">
	<option id=-1 value="<?php echo $this->__('Select Diameter') ?>"><?php echo $this->__('Select Diameter') ?></option>
        </select></div>
</td>
</div>
</tr>
</table>

<br/>

<table>
<tr>
<div class="form-list" id="advanced-search-list" align="center">
<td>
<b><label for="Manufacturer"><?php echo $this->__('Manufacturer') ?></label></b>
<div class="field" id="manufacturerdiv" ><select id=manufacturer name="manufacturer">
	<option value=""><?php echo $this->__('All Manufacturer') ?></option>
        </select></div>
</td>
</div>
</tr>
</table>


<br/>
<div align="center">
			<table>
            <tr>
			<td>
			<b><label for="Type"><?php echo $this->__('Type') ?></label></b>
			</td>
			<td width="20">&nbsp;</td>
			<td>
			<b><label for="Season"><?php echo $this->__('Season') ?></label></b>
			</td>
			
			</tr>

			<tr>
			<td>
			<input type="checkbox" id="passenger" name="passenger" value="passenger" /> <?php echo $this->__('Passenger') ?>
            </td>

			<td>&nbsp;</td>

			<td>
			<input type="checkbox" id="summer" name="summer" value="summer" /><?php echo $this->__('Summer') ?>
            </td>
			</tr>
			
			<tr>
			<td>
			<input type="checkbox" id="truck" name="truck" value="truck" /><?php echo $this->__('Truck') ?>
            </td>

			<td>&nbsp;</td>

			<td>
			<input type="checkbox" id="winter" name="winter" value="winter" /><?php echo $this->__('Winter') ?>
            </td>
			</tr>
			
			<tr>
			<td>
			<input type="checkbox" id="minivan" name="minivan" value="minivan" /><?php echo $this->__('Minivan') ?>
            </td>

			<td>&nbsp;</td>

			<td>
			<input type="checkbox" id="allseason" name="allseason" value="allseason" /> <?php echo $this->__('All Season') ?>
            </td>
			</tr>
			</table>


			</div>


<div class="buttons-set" style="width: 100%" align="right">
<button class="button" type="reset" title="<?php echo $this->__('Reset') ?>" class="button"><span><span><?php echo $this->__('Reset') ?></span></span></button>

<button class="button" type="button" onClick="GYearSelected()" title="<?php echo $this->__('Search') ?>" class="button"><span><span><?php echo $this->__('Search') ?></span></span></button>
</div>

</div>
</form>
</body>
</html>
